<div class="col-lg-9">
  <h2>Ngày 38 - Phản xạ đa chiều - You Listen to What?</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-06/topic01.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 6.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 38 - Phản xạ đa chiều - I Have a Bit of a Sweet Tooth
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 06 - FOOD/Recording 6.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="4">
              <h3>Topic 01: I Have a Bit of a Sweet Tooth</h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Menu (n)</td>
            <td>/ˈmenjuː/</td>
            <td>Thực đơn</td>
            <td>Would you like some time to look over the <b>menu</b>?</td>
          </tr>
          <tr class="row">
            <td>Appetizers (n)</td>
            <td>/ˈæpɪtaɪzərz/</td>
            <td>Món khai vị</td>
            <td>Could we start with some <b>appetizers</b> for the table, please?</td>
          </tr>
          <tr class="row">
            <td>Weight (n)</td>
            <td>/weɪt/</td>
            <td>Cân nặng</td>
            <td>I’m watching my <b>weight</b>.</td>
          </tr>
          <tr class="row">
            <td>Portion (n)</td>
            <td>/ˈpɔːrʃn/</td>
            <td>Khẩu phần ăn</td>
            <td>Do you think one <b>portion</b> is enough for everyone?</td>
          </tr>
          <tr class="row">
            <td>Hurt (v)</td>
            <td>/hɜːrt/</td>
            <td>Gây hại</td>
            <td>A little cake never <b>hurt </b>anyone…</td>
          </tr>
          <tr class="row">
            <td>Slice (n)</td>
            <td>/slaɪs/</td>
            <td>Miếng, lát, phần</td>
            <td>Sorry, do you mean one <b>slice</b>?</td>
          </tr>
          <tr class="row">
            <td>Today’s special (n)</td>
            <td>/təˈdeɪz ˈspeʃl/</td>
            <td>Món đặc biệt của ngày hôm nay</td>
            <td>Of course, <b>today’s special</b> is garlic bread. Would you like that?</td>
          </tr>
          <tr class="row">
            <td>Worried (adj)</td>
            <td>/ˈwɜːrid/</td>
            <td>Lo lắng</td>
            <td>That’s a good idea. But I’m <b>worried</b> that’s too much.</td>
          </tr>
          <tr class="row">
            <td>Dessert (n)</td>
            <td>/dɪˈzɜːrt/</td>
            <td>Món tráng miệng</td>
            <td>And if you’re still hungry, you can always order <b>dessert</b>.</td>
          </tr>
          <tr class="row">
            <td>Family style (n)</td>
            <td>/ˈfæməli staɪl/</td>
            <td>Phong cách, kiểu gia đình</td>
            <td>How do you feel about ordering a few <b>family style</b> dishes?</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-6" colspan="2"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Would you like some time to look over the menu?</td>
            <td>Chị có cần thời gian để xem qua thực đơn không?</td>
            <td colspan="2">Hi, welcome to Mario’s Italian Restaurant. <b>Would you like some time to look over the menu</b>?</td>
          </tr>
          <tr class="row">
            <td>Could we start with some appetizers for the table, please?</td>
            <td>Chúng tôi có thể bắt đầu với các món khai vị được không?</td>
            <td colspan="2">We already know what we’d like. <b>Could we start with some appetizers for the table, please</b>?</td>
          </tr>
          <tr class="row">
            <td>Do you think one portion is enough for everyone?</td>
            <td>Anh có nghĩ rằng một phần là đủ cho tất cả mọi người không?</td>
            <td colspan="2">Yes, please. <b>Do you think one portion is enough for everyone</b>?</td>
          </tr>
          <tr class="row">
            <td>Get a salad to share</td>
            <td>Gọi một phần rau trộn để ăn chung với nhau</td>
            <td colspan="2">It should be. If you’d like, you could also <b>get a salad to share</b>.</td>
          </tr>
          <tr class="row">
            <td>Order a main dish</td>
            <td>Gọi một món chính</td>
            <td colspan="2">That’s a good idea. But I’m worried that’s too much. We all want to<b> order a main dish </b>as well.</td>
          </tr>
          <tr class="row">
            <td>Take it home</td>
            <td>Mang về nhà</td>
            <td colspan="2">How do you feel about ordering a few family style dishes? If it’s too much you can <b>take it home</b>.</td>
          </tr>
          <tr class="row">
            <td>Watching my weight</td>
            <td>Đang để ý cân nặng của mình</td>
            <td colspan="2">Oh no, I shouldn’t eat anything too sweet, I’m<b> watching my weight</b>.</td>
          </tr>
          <tr class="row">
            <td>A little cake never hurt anyone</td>
            <td>Một chút bánh sẽ không gây hại cho ai cả</td>
            <td colspan="2">– Oh no, I shouldn’t eat anything too sweet, I’m watching my weight.
              <p></p>
              <p>– <b>A little cake never hurt anyone</b>…</p>
            </td>
          </tr>
          <tr class="row">
            <td>That’s a good idea</td>
            <td>Đó là một ý kiến hay</td>
            <td colspan="2"><b>That’s a good idea</b>. But I’m worried that’s too much.</td>
          </tr>
          <tr class="row">
            <td>Thought of that</td>
            <td>Nghĩ ra điều đó</td>
            <td colspan="2">I hadn’t <b>thought of that</b>. What do you all think?</td>
          </tr>
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 02: Home Cooking</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Dinner (n)</td>
            <td>/ˈdɪnər/</td>
            <td>Bữa tối</td>
            <td>We’re about to have <b>dinner</b>.</td>
          </tr>
          <tr class="row">
            <td>Plans (n)</td>
            <td>/plænz/</td>
            <td>Kế hoạch</td>
            <td>Sorry, I’d like to stay Mom, but I have <b>plans </b>with a friend tonight.</td>
          </tr>
          <tr class="row">
            <td>Fast food (n)</td>
            <td>/ˌfæst ˈfuːd/</td>
            <td>Thức ăn nhanh</td>
            <td>You’ve been eating<b> fast food</b> way too often.</td>
          </tr>
          <tr class="row">
            <td>French fries (n)</td>
            <td>/ˈfrentʃ fraɪz/</td>
            <td>Khoai tây chiên</td>
            <td>You know <b>french fries</b> are potatoes, and they’re sort of healthy, too.</td>
          </tr>
          <tr class="row">
            <td><strong>Expression</strong></td>
            <td><strong>Meaning</strong></td>
            <td><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>We’re about to have dinner</td>
            <td>Chúng ta sắp ăn tối rồi</td>
            <td colspan="2">Where are you going? <b>We’re about to have dinner.</b></td>
          </tr>
          <tr class="row">
            <td>Have plans</td>
            <td>Có kế hoạch</td>
            <td colspan="2">Sorry, I’d like to stay Mom, but I <b>have plans</b> with a friend tonight.</td>
          </tr>
          <tr class="row">
            <td>To work over dinner</td>
            <td>Làm việc trong bữa tối</td>
            <td colspan="2">Actually we’re going <b>to work over dinner</b>.</td>
          </tr>
          <tr class="row">
            <td>Way too often</td>
            <td>Một cách quá thường xuyên</td>
            <td colspan="2">Burgers again? You’ve been eating fast food<b> way too often</b>.</td>
          </tr>
          <tr class="row">
            <td>No offense to you</td>
            <td>Không có ý gì đâu</td>
            <td colspan="2">Well <b>no offense to you</b>, but you’re beginning to look like a McBurger.</td>
          </tr>
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 03: Easy as Pie</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Disaster (n)</td>
            <td>/dɪˈzæstər/</td>
            <td>Thảm họa</td>
            <td>Well that was a <b>disaster</b>.</td>
          </tr>
          <tr class="row">
            <td>Ordering (n)</td>
            <td>/ˈɔːrdərɪŋ/</td>
            <td>Gọi (món ăn, thức uống…), đặt (hàng…)</td>
            <td>It turns out <b>ordering</b> out is a lot easier than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Easier (adj)</td>
            <td>/ˈiːzi/</td>
            <td>Dễ hơn</td>
            <td>It turns out ordering out is a lot <b>easier</b> than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Cooking (v)</td>
            <td>/ˈkʊkɪŋ/</td>
            <td>Nấu ăn</td>
            <td>It turns out ordering out is a lot easier than <b>cooking</b> at home.</td>
          </tr>
          <tr class="row">
            <td>A lot (quantifier)</td>
            <td>/ə ˈlɑːt/</td>
            <td>Nhiều</td>
            <td>It turns out ordering out is <b>a lot </b>easier than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Difficult (adj)</td>
            <td>/ˈdɪfɪkəlt/</td>
            <td>Khó khăn</td>
            <td>And cooking is much more <b>difficult</b> than it looks in videos.</td>
          </tr>
          <tr class="row">
            <td>Tricky (adj)</td>
            <td>/ˈtrɪki/</td>
            <td>Phức tạp, rắc rối</td>
            <td>Thankfully, the icing wasn’t <b>tricky</b>, so the cake didn’t look that bad.</td>
          </tr>
          <tr class="row">
            <td><strong>Expression</strong></td>
            <td><strong>Meaning</strong></td>
            <td><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Much more difficult than it looks</td>
            <td>Khó hơn nhiều so với lúc nhìn</td>
            <td colspan="2">And cooking is <b>much more difficult than it looks</b> in videos.</td>
          </tr>
          <tr class="row">
            <td>How complicated could it be?</td>
            <td>Phức tạp đến đâu chứ</td>
            <td colspan="2"><b>How complicated could it be?</b> It’s just cake and icing, I thought.</td>
          </tr>
          <tr class="row">
            <td>Followed the video instructions</td>
            <td>Làm theo video hướng dẫn</td>
            <td colspan="2">I put my phone on the kitchen counter and <b>followed the video instructions</b>.</td>
          </tr>
          <tr class="row">
            <td>You’re doing great!</td>
            <td>Bạn đang làm rất tốt!</td>
            <td colspan="2">The woman in the clip kept saying “<b>You’re doing great!</b>” and “Doesn’t that look delicious?”</td>
          </tr>
          <tr class="row">
            <td>Doesn’t that look delicious?</td>
            <td>Trông nó không ngon sao?</td>
            <td colspan="2">The woman in the clip kept saying “You’re doing great!” and “<b>Doesn’t that look delicious?</b>”</td>
          </tr>
          <tr class="row">
            <td>Scrunched up like he just bit into a lemon</td>
            <td>Nhăn như vừa căn phải miếng chanh (“nhăn như khỉ ăn ớt”)</td>
            <td colspan="2">But when my husband took the first bite, his face<b> scrunched up like he just bit into a lemon.</b></td>
          </tr>
          <tr class="row">
            <td>Took the first bite</td>
            <td>Thử miếng đầu tiên</td>
            <td colspan="2">But when my husband <b>took the first bite</b>, his face scrunched up like he just bit into a lemon.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 01</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 6.2</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 6.2</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 38 - Phản xạ đa chiều - I Have a Bit of a Sweet Tooth
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.2 - Native Speech- Topic 1 - I Have a Bit of a Sweet Tooth.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>There is a new family-owned restaurant near Kathy’s house. She and her neighbors decide to have dinner there together.</td>
            <td>Có một nhà hàng gia đình mới ở gần nhà của Kathy. Cô ấy và mấy người hàng xóm quyết định cùng nhau đi ăn tối ở đó.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Hi, welcome to Mario’s Italian Restaurant. <b>Would you like some time to look over the menu</b>?</td>
            <td>Chào mừng quý khách đến với nhà hàng Ý Mario’s. Chị có cần thời gian để xem qua thực đơn không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No thanks. We already know what we’d like. <b>Could we start with some appetizers for the table, please</b>?</td>
            <td>Không cần đâu, cảm ơn. Chúng tôi đã biết là muốn ăn gì rồi. <b>Chúng tôi có thể bắt đầu với các món khai vị được không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Of course, <b>today’s special</b> is garlic bread. Would you like that?</td>
            <td>Tất nhiên rồi, <b>món đặc biệt của ngày hôm nay</b> là bánh mì bơ tỏi. Chị có muốn món đó không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Yes, please. <b>Do you think one portion is enough for everyone</b>?</td>
            <td>Có, cảm ơn. <b>Anh có nghĩ rằng một phần là đủ cho tất cả mọi người không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>It should be. If you’d like, you could also <b>get a salad to share</b>.</td>
            <td>Có thể. Nếu chị muốn, chị có thể <b>gọi một phần rau trộn để ăn chung với nhau.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td><b>That’s a good idea</b>. But I’m <b>worried</b> that’s too much. We all want to <b>order a main dish</b> as well.</td>
            <td><b>Đó là một ý hay</b>. Nhưng tôi <b>lo lắng (e rằng)</b> như vậy là quá nhiều. Chúng tôi vẫn muốn <b>gọi một món chính.</b></td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>How do you feel about ordering a few <b>family style </b>dishes? If it’s too much, you can<b> take it home.</b></td>
            <td>Chị thấy sao nếu gọi vài món ăn <b>kiểu gia đình</b>? Nếu quá nhiều, chị có thể <b>mang về nhà.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>I hadn’t <b>thought of that</b>. What do you all think? Does it sound like enough?</td>
            <td>Tôi đã không <b>nghĩ ra điều đó</b>. Các cậu nghĩ sao? Như vậy có vẻ đủ chưa?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>And if you’re still hungry, you can always order <b>dessert</b>. We have our famous cheesecake today.</td>
            <td>Và nếu các chị vẫn còn đói, chị luôn có thể gọi <b>món tráng miệng</b>. Hôm nay chúng tôi có món bánh phô mai nổi tiếng .</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Oh no, I shouldn’t eat anything too sweet, I’m <b>watching my weight</b>.</td>
            <td>Ôi không, tôi không nên ăn bất cứ thứ gì quá ngọt, tôi <strong>đang</strong> <strong>để ý cân nặng của mình</strong>.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td><b>A little cake never hurt anyone</b>…</td>
            <td><b>Một chút bánh sẽ không sao đâu…</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>You’re right. Actually, let’s start with dessert. I’ll have one cheesecake, please.</td>
            <td>Anh nói đúng. Thực ra, chúng ta hãy bắt đầu với món tráng miệng. Làm ơn cho tôi một bánh phô mai.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Sorry, do you mean one <b>slice</b>?</td>
            <td>Xin lỗi, ý chị là một <b>lát</b> bánh phải không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No. The whole thing.</td>
            <td>Không. Cả cái bánh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo <strong>Recording 3.8</strong> từ 5-7 lần cho đến khi bạn trả lời ngắn toàn bộ các câu hỏi của bạn đồng hành bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 3.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 38 - Phản xạ đa chiều - I Have a Bit of a Sweet Tooth
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.8 - Rapid Response - Topic 1 - I have a bit of a sweet tooth.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Where did Kathy and her neighbors go for dinner? </strong></td>
            <td><strong>Kathy và hàng xóm của cô đi ăn tối ở đâu?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>They went to Mario’s Italian Restaurant.</td>
            <td>Họ đi đến Nhà hàng Ý của Mario.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy and her neighbors went to Mario’s Italian Restaurant for dinner.</td>
            <td>Kathy và hàng xóm của cô đi đến Nhà hàng Ý của Mario để ăn tối.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Do Kathy and her neighbors need some time to look over the menu? </strong></td>
            <td><strong>Kathy và hàng xóm của cô có cần thời gian để xem thực đơn không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, they don’t.</td>
            <td>Không, họ không cần.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Kathy and her neighbors don’t need some time to look over the menu.</td>
            <td>Không, Kathy và hàng xóm của cô không cần thời gian để xem thực đơn.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is the first thing Kathy orders? </strong></td>
            <td><strong>Món đầu tiên Kathy gọi là gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Appetizer.</td>
            <td>Món khai vị.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The first thing Kathy orders is appetizer.</td>
            <td>Món đầu tiên Kathy gọi là món khai vị.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What’s today’s special at Mario’s Italian Restaurant?</strong></td>
            <td><strong>Món đặc biệt hôm nay là tại Nhà hàng Y của Mario gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s garlic bread.</td>
            <td>Đó là bánh mì bơ tỏi.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Today’s special at Mario’s Italian Restaurant is garlic bread.</td>
            <td>Hôm nay món đặc biệt tại nhà hàng Ý của Mario là bánh mì bơ tỏi.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is one portion at Mario’s Italian Restaurant enough for people? </strong></td>
            <td><strong>Một phần ăn tại Nhà hàng Ý của Mario có đủ cho mọi người không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, it is.</td>
            <td>Có.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, one portion at Mario’s Italian Restaurant is enough for people.</td>
            <td>Vâng, một phần ăn tại nhà hàng Ý của Mario là đủ cho mọi người.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How does Kathy feel about getting a salad to share?</strong></td>
            <td><strong>Kathy cảm thấy sao khi có một món rau trộn để ăn chung?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She thinks that it’s a good idea.</td>
            <td>Cô ấy nghĩ rằng đó là một ý hay.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy finds the idea of getting a salad to share a good one.</td>
            <td>Kathy thấy ăn chung một món rau trộn là ý hay.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Can Kathy and her neighbors take the remaining food home? </strong></td>
            <td><strong>Kathy và hàng xóm của cô có thể mang đồ ăn còn lại về nhà không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, they can.</td>
            <td>Vâng, họ có thể.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, they can take the remaining food home.</td>
            <td>Vâng, họ có thể mang thức ăn còn lại về nhà.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What type of dishes is Kathy ordering? </strong></td>
            <td><strong>Loại món ăn Kathy đang gọi là gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>A few family style dishes.</td>
            <td>Một vài món ăn phong cách gia đình.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She’s ordering family style dishes.</td>
            <td>Cô ấy đang gọi các món ăn phong cách gia đình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why shouldn’t Kathy eat dessert?</strong></td>
            <td><strong>Tại sao Kathy không nên ăn món tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy shouldn’t eat dessert to not gain weight.</td>
            <td>Kathy không nên ăn món tráng miệng để không tăng cân.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy shouldn’t eat dessert because she’s watching her weight.</td>
            <td>Kathy không nên ăn món tráng miệng vì cô ấy đang theo dõi cân nặng của mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What makes Kathy change her mind and order dessert?</strong></td>
            <td><strong>Điều gì khiến Kathy thay đổi ý định và gọi món tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>A little cake won’t make her gain weight.</td>
            <td>Một ít bánh sẽ không làm cô tăng cân.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because a little cake never hurt anyone.</td>
            <td>Đó là bởi vì một ít bánh không bao giờ làm hại ai.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is Kathy ordering for the dessert?</strong></td>
            <td><strong>Kathy đang gọi món gì để tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She’s ordering a cheesecake.</td>
            <td>Cô ấy đang gọi bánh phô mai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy is ordering a cheesecake.</td>
            <td>Kathy gọi một bánh phô mai.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Kathy ordering just one slice or the whole cheesecake? </strong></td>
            <td><strong>Kathy đang gọi một miếng bánh hay cả chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The whole cheesecake.</td>
            <td>Cả chiếc bánh phô mai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy is ordering the whole cheesecake.</td>
            <td>Kathy đang gọi cả chiếc bánh phô mai.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession6-day37"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession6-day39"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>