<div class="col-lg-9">
  <img src="image/lession-06/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 37 - Nói Đuổi</h2>
  <h4>Topic 01: I Have a Bit of a Sweet Tooth</h4>
  <img src="image/lession-06/topic01.png" alt="" width="800px" height="200px">

  <h4>Bước 1: nói đuổi tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 6.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 6.1</strong> từ 1-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Không dùng giáo trình, nghe và nói nhẩm theo <strong>Recording 6.1</strong> từ 1-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.1 - Slow Speech - Topic 1 - I Have a Bit of a Sweet Tooth.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>There is a new family-owned restaurant near Kathy’s house. She and her neighbors decide to have dinner there together.</td>
            <td>Có một nhà hàng gia đình mới ở gần nhà của Kathy. Cô ấy và mấy người hàng xóm quyết định cùng nhau đi ăn tối ở đó.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Hi, welcome to Mario’s Italian Restaurant. <b>Would you like some time to look over the menu</b>?</td>
            <td>Chào mừng quý khách đến với nhà hàng Ý Mario’s. Chị có cần thời gian để xem qua thực đơn không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No thanks. We already know what we’d like. <b>Could we start with some appetizers for the table, please</b>?</td>
            <td>Không cần đâu, cảm ơn. Chúng tôi đã biết là muốn ăn gì rồi. <b>Chúng tôi có thể bắt đầu với các món khai vị được không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Of course, <b>today’s special</b> is garlic bread. Would you like that?</td>
            <td>Tất nhiên rồi, <b>món đặc biệt của ngày hôm nay</b> là bánh mì bơ tỏi. Chị có muốn món đó không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Yes, please. <b>Do you think one portion is enough for everyone</b>?</td>
            <td>Có, cảm ơn. <b>Anh có nghĩ rằng một phần là đủ cho tất cả mọi người không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>It should be. If you’d like, you could also <b>get a salad to share</b>.</td>
            <td>Có thể. Nếu chị muốn, chị có thể <b>gọi một phần rau trộn để ăn chung với nhau.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td><b>That’s a good idea</b>. But I’m <b>worried</b> that’s too much. We all want to <b>order a main dish</b> as well.</td>
            <td><b>Đó là một ý hay</b>. Nhưng tôi <b>lo lắng (e rằng)</b> như vậy là quá nhiều. Chúng tôi vẫn muốn <b>gọi một món chính.</b></td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>How do you feel about ordering a few <b>family style </b>dishes? If it’s too much, you can<b> take it home.</b></td>
            <td>Chị thấy sao nếu gọi vài món ăn <b>kiểu gia đình</b>? Nếu quá nhiều, chị có thể <b>mang về nhà.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>I hadn’t <b>thought of that</b>. What do you all think? Does it sound like enough?</td>
            <td>Tôi đã không <b>nghĩ ra điều đó</b>. Các cậu nghĩ sao? Như vậy có vẻ đủ chưa?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>And if you’re still hungry, you can always order <b>dessert</b>. We have our famous cheesecake today.</td>
            <td>Và nếu các chị vẫn còn đói, chị luôn có thể gọi <b>món tráng miệng</b>. Hôm nay chúng tôi có món bánh phô mai nổi tiếng .</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Oh no, I shouldn’t eat anything too sweet, I’m <b>watching my weight</b>.</td>
            <td>Ôi không, tôi không nên ăn bất cứ thứ gì quá ngọt, tôi <strong>đang</strong> <strong>để ý cân nặng của mình</strong>.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td><b>A little cake never hurt anyone</b>…</td>
            <td><b>Một chút bánh sẽ không sao đâu…</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>You’re right. Actually, let’s start with dessert. I’ll have one cheesecake, please.</td>
            <td>Anh nói đúng. Thực ra, chúng ta hãy bắt đầu với món tráng miệng. Làm ơn cho tôi một bánh phô mai.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Sorry, do you mean one <b>slice</b>?</td>
            <td>Xin lỗi, ý chị là một <b>lát</b> bánh phải không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No. The whole thing.</td>
            <td>Không. Cả cái bánh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nối đuổi tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy <strong>sử dụng</strong> giáo trình, <strong>nghe</strong> và <strong>nhẩm</strong> theo Recording 6.2 từ 1-3 lần</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau đó, <strong>nói đuổi</strong> theo Recording 6.2 từ 1-2 lần. Dùng từ điển khi cần. Hãy nói để bắt kịp tốc độ của nhân vật.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Không</strong> dùng giáo trình, <strong>nói đuổi Recording 6.2</strong> ít nhất 2-3 lần cho đến khi bạn cảm thấy tự tin với tốc độ của mình.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i><strong>Chú ý:</strong> Bạn cần tập trung vào ngữ điệu, nối âm và tốc độ tự nhiên của người bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.2 - Native Speech- Topic 1 - I Have a Bit of a Sweet Tooth.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>There is a new family-owned restaurant near Kathy’s house. She and her neighbors decide to have dinner there together.</td>
            <td>Có một nhà hàng gia đình mới ở gần nhà của Kathy. Cô ấy và mấy người hàng xóm quyết định cùng nhau đi ăn tối ở đó.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Hi, welcome to Mario’s Italian Restaurant. <b>Would you like some time to look over the menu</b>?</td>
            <td>Chào mừng quý khách đến với nhà hàng Ý Mario’s. Chị có cần thời gian để xem qua thực đơn không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No thanks. We already know what we’d like. <b>Could we start with some appetizers for the table, please</b>?</td>
            <td>Không cần đâu, cảm ơn. Chúng tôi đã biết là muốn ăn gì rồi. <b>Chúng tôi có thể bắt đầu với các món khai vị được không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Of course, <b>today’s special</b> is garlic bread. Would you like that?</td>
            <td>Tất nhiên rồi, <b>món đặc biệt của ngày hôm nay</b> là bánh mì bơ tỏi. Chị có muốn món đó không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Yes, please. <b>Do you think one portion is enough for everyone</b>?</td>
            <td>Có, cảm ơn. <b>Anh có nghĩ rằng một phần là đủ cho tất cả mọi người không</b>?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>It should be. If you’d like, you could also <b>get a salad to share</b>.</td>
            <td>Có thể. Nếu chị muốn, chị có thể <b>gọi một phần rau trộn để ăn chung với nhau.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td><b>That’s a good idea</b>. But I’m <b>worried</b> that’s too much. We all want to <b>order a main dish</b> as well.</td>
            <td><b>Đó là một ý hay</b>. Nhưng tôi <b>lo lắng (e rằng)</b> như vậy là quá nhiều. Chúng tôi vẫn muốn <b>gọi một món chính.</b></td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>How do you feel about ordering a few <b>family style </b>dishes? If it’s too much, you can<b> take it home.</b></td>
            <td>Chị thấy sao nếu gọi vài món ăn <b>kiểu gia đình</b>? Nếu quá nhiều, chị có thể <b>mang về nhà.</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>I hadn’t <b>thought of that</b>. What do you all think? Does it sound like enough?</td>
            <td>Tôi đã không <b>nghĩ ra điều đó</b>. Các cậu nghĩ sao? Như vậy có vẻ đủ chưa?</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>And if you’re still hungry, you can always order <b>dessert</b>. We have our famous cheesecake today.</td>
            <td>Và nếu các chị vẫn còn đói, chị luôn có thể gọi <b>món tráng miệng</b>. Hôm nay chúng tôi có món bánh phô mai nổi tiếng .</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>Oh no, I shouldn’t eat anything too sweet, I’m <b>watching my weight</b>.</td>
            <td>Ôi không, tôi không nên ăn bất cứ thứ gì quá ngọt, tôi <strong>đang</strong> <strong>để ý cân nặng của mình</strong>.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td><b>A little cake never hurt anyone</b>…</td>
            <td><b>Một chút bánh sẽ không sao đâu…</b></td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>You’re right. Actually, let’s start with dessert. I’ll have one cheesecake, please.</td>
            <td>Anh nói đúng. Thực ra, chúng ta hãy bắt đầu với món tráng miệng. Làm ơn cho tôi một bánh phô mai.</td>
          </tr>
          <tr class="row">
            <td>Waiter</td>
            <td>Sorry, do you mean one <b>slice</b>?</td>
            <td>Xin lỗi, ý chị là một <b>lát</b> bánh phải không?</td>
          </tr>
          <tr class="row">
            <td>Kathy</td>
            <td>No. The whole thing.</td>
            <td>Không. Cả cái bánh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: Home Cooking</h4>
  <img src="image/lession-06/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 6.3</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 6.4</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.3 - Slow Speech - Topic 2 - Home Cooking.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>The mother spent hours preparing dinner for her family, but her son would like to eat out with his friend at McBurgers, which often serves junk foods.</td>
            <td>Người mẹ đã dành hàng giờ để chuẩn bị bữa tối cho gia đình, nhưng cậu con trai lại muốn ra ngoài ăn với bạn bè của mình ở McBurgers, nơi thường phục vụ đồ ăn nhanh.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Where are you going? <b>We’re about to have dinner</b>.</td>
            <td>Con đang đi đâu thế? <b>Chúng ta sắp ăn tối rồi.</b></td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Sorry, I’d like to stay Mom, but I <b>have plans</b> with a friend tonight.</td>
            <td>Con xin lỗi, con muốn ở nhà mẹ ạ, nhưng con <b>có kế hoạch</b> với một người bạn tối nay.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Well you should at least eat a little before you go.</td>
            <td>Thế thì ít nhất con nên ăn một chút trước khi đi.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Actually we’re going t<b>o work over dinner</b>. Thanks, though.</td>
            <td>Thực ra bọn con sẽ <b>làm việc trong bữa ăn tối.</b> Dù sao thì cũng cảm ơn mẹ.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Oh, where are you going?</td>
            <td>Ồ, con đi đâu?</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>We’re meeting at McBurgers.</td>
            <td>Bọn con định gặp nhau ở McBurgers.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Burgers again? You’ve been eating<b> fast food way too often.</b> You know it’s not good for you.</td>
            <td>Lại bánh mì kẹp thịt sao? Con ăn <b>đồ ăn nhanh một cách quá thường xuyên</b> rồi đấy. Con biết là nó không tốt cho con mà.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>I know it’s not good for me, but it tastes so good! Nothing can compare to a McBurger… Mom. I like your food, too.</td>
            <td>Con biết là không tốt cho con, nhưng nó lại rất ngon! Không gì có thể so sánh được với McBurger… Mẹ. Con cũng thích đồ ăn mẹ nấu nữa.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Well <b>no offense to you</b>, but you’re beginning to look like a McBurger. If you eat junk food all the time, you will need to exercise more.</td>
            <td>Xem nào, mẹ <b>không có ý gì đâu</b> nhưng con đang bắt đầu trông giống như một chiếc McBurger. Nếu con cứ&nbsp; ăn đồ ăn nhanh suốt như thế, thì con sẽ phải tập thể dục nhiều hơn nữa.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Mom!</td>
            <td>Mẹ!</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Really, when’s the last time you ate a vegetable?</td>
            <td>Thật đấy, lần cuối con ăn rau là khi nào vậy?</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Burgers have vegetables, like lettuce and tomatoes. You know <b>french fries </b>are potatoes, and they’re sort of healthy, too. You should try it Mom, I bet you would like it.</td>
            <td>Bánh mì kẹp thịt có các loại rau như rau xà lách và cà chua. Mẹ biết là <b>khoai tây chiên</b> cũng là khoai tây, và nó cũng tốt cho sức khỏe mà. Mẹ nên thử ăn đi, con cá là mẹ sẽ thích nó.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>No thanks, all the salt and fat they use is bad for my skin.</td>
            <td>Không, cảm ơn con, tất cả muối và chất béo họ sử dụng đều có hại cho làn da của mẹ.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>How would you know if you’ve never had it?</td>
            <td> Làm sao mà mẹ biết nếu mẹ chưa bao giờ thử?</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Because I can see it on you! Now let’s go eat and tell your friend to come here.</td>
            <td>Bởi vì mẹ có thể nhìn thấy điều đó ở con! Bây giờ hãy ngồi ăn và bảo bạn con đến đây đi.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Okay…</td>
            <td>Vâng…</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.4 - Native Speech- Topic 2 - Home Cooking.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <th class="col-lg-2"></th>
            <th class="col-lg-5">Tiếng Anh</th>
            <th class="col-lg-5">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td></td>
            <td>The mother spent hours preparing dinner for her family, but her son would like to eat out with his friend at McBurgers, which often serves junk foods.</td>
            <td>Người mẹ đã dành hàng giờ để chuẩn bị bữa tối cho gia đình, nhưng cậu con trai lại muốn ra ngoài ăn với bạn bè của mình ở McBurgers, nơi thường phục vụ đồ ăn nhanh.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Where are you going? <b>We’re about to have dinner</b>.</td>
            <td>Con đang đi đâu thế? <b>Chúng ta sắp ăn tối rồi.</b></td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Sorry, I’d like to stay Mom, but I <b>have plans</b> with a friend tonight.</td>
            <td>Con xin lỗi, con muốn ở nhà mẹ ạ, nhưng con <b>có kế hoạch</b> với một người bạn tối nay.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Well you should at least eat a little before you go.</td>
            <td>Thế thì ít nhất con nên ăn một chút trước khi đi.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Actually we’re going t<b>o work over dinner</b>. Thanks, though.</td>
            <td>Thực ra bọn con sẽ <b>làm việc trong bữa ăn tối.</b> Dù sao thì cũng cảm ơn mẹ.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Oh, where are you going?</td>
            <td>Ồ, con đi đâu?</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>We’re meeting at McBurgers.</td>
            <td>Bọn con định gặp nhau ở McBurgers.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Burgers again? You’ve been eating<b> fast food way too often.</b> You know it’s not good for you.</td>
            <td>Lại bánh mì kẹp thịt sao? Con ăn <b>đồ ăn nhanh một cách quá thường xuyên</b> rồi đấy. Con biết là nó không tốt cho con mà.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>I know it’s not good for me, but it tastes so good! Nothing can compare to a McBurger… Mom. I like your food, too.</td>
            <td>Con biết là không tốt cho con, nhưng nó lại rất ngon! Không gì có thể so sánh được với McBurger… Mẹ. Con cũng thích đồ ăn mẹ nấu nữa.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Well <b>no offense to you</b>, but you’re beginning to look like a McBurger. If you eat junk food all the time, you will need to exercise more.</td>
            <td>Xem nào, mẹ <b>không có ý gì đâu</b> nhưng con đang bắt đầu trông giống như một chiếc McBurger. Nếu con cứ&nbsp; ăn đồ ăn nhanh suốt như thế, thì con sẽ phải tập thể dục nhiều hơn nữa.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Mom!</td>
            <td>Mẹ!</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Really, when’s the last time you ate a vegetable?</td>
            <td>Thật đấy, lần cuối con ăn rau là khi nào vậy?</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Burgers have vegetables, like lettuce and tomatoes. You know <b>french fries </b>are potatoes, and they’re sort of healthy, too. You should try it Mom, I bet you would like it.</td>
            <td>Bánh mì kẹp thịt có các loại rau như rau xà lách và cà chua. Mẹ biết là <b>khoai tây chiên</b> cũng là khoai tây, và nó cũng tốt cho sức khỏe mà. Mẹ nên thử ăn đi, con cá là mẹ sẽ thích nó.</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>No thanks, all the salt and fat they use is bad for my skin.</td>
            <td>Không, cảm ơn con, tất cả muối và chất béo họ sử dụng đều có hại cho làn da của mẹ.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>How would you know if you’ve never had it?</td>
            <td> Làm sao mà mẹ biết nếu mẹ chưa bao giờ thử?</td>
          </tr>
          <tr class="row">
            <td>Mom</td>
            <td>Because I can see it on you! Now let’s go eat and tell your friend to come here.</td>
            <td>Bởi vì mẹ có thể nhìn thấy điều đó ở con! Bây giờ hãy ngồi ăn và bảo bạn con đến đây đi.</td>
          </tr>
          <tr class="row">
            <td>Son</td>
            <td>Okay…</td>
            <td>Vâng…</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Easy as Pie (Không Bắt Buộc)</h4>
  <img src="image/lession-06/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước Topic 01, sử dụng <strong>Recording 6.5</strong> cho <strong>bước 1 – Nói đuổi tốc độ Slow Speech</strong> và <strong>Recording 6.6</strong> cho <strong>bước 2 – Nói đuổi tốc độ Native Speech</strong>.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.5 - Slow Speech -Topic 3 - Easy as Pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Well that was a <b>disaster</b>. It turns out that <b>ordering</b> out is <b>a lot easier</b> than <b>cooking </b>at home. And cooking is <b>much more difficult than it looks </b>in videos. I wanted to make a cake for my husband’s birthday.
              <b>How complicated could it be?</b> It’s just cake and icing, I thought.</td>
            <td>Vâng, đó là một <b>thảm họa. </b>Hóa ra <b>gọi đồ </b>ở bên ngoài <b>dễ hơn </b>nấu ăn ở nhà <b>nhiều</b>. Và <b>nấu ăn </b>thì <b>khó hơn khi xem trong các video rất nhiều.</b> Tôi muốn làm một chiếc bánh cho sinh nhật của chồng tôi. <b>Có thể phức tạp đến mức nào chứ? </b>Chỉ
              là bánh và phủ kem thôi, tôi đã nghĩ vậy.
            </td>
          </tr>
          <tr class="row">
            <td>I put my phone on the kitchen counter and <b>followed the video instructions</b>. The woman in the clip kept saying “<b>You’re doing great</b>!” and “<b>Doesn’t that look delicious?</b>” but my cake looked, and smelled,like rotten soup, and
              my kitchen’s fire alarm went off!
            </td>
            <td>Tôi đặt điện thoại lên trên kệ bếp và <b>làm theo video hướng dẫn.</b> Người phụ nữ trong clip luôn nói rằng “<b>Bạn đang làm rất tốt!</b>” và “<b>Trông nó không ngon sao</b>?” nhưng nhìn bánh của tôi, và ngửi mùi của nó đi, như thể súp bị
              thiu, và cả việc thiết bị báo cháy trong bếp đổ chuông nữa!
            </td>
          </tr>
          <tr class="row">
            <td>Thankfully, the icing wasn’t<b> tricky</b>, so the cake didn’t look that bad. But when my husband <b>took the first bite</b>, his face scrunched up like he just bit into a lemon. Then he started laughing. “Thank you so much for the cake!”
              he said, “I love it… but let’s go get one from a bakery, yeah?”</td>
            <td>May sao, phần kem phủ không <b>phức tạp</b> cho lắm, thế nên cái bánh nhìn không quá tệ. Nhưng khi chồng tôi<b> thử miếng đầu tiên</b>, mặt anh ấy <b>nhăn như khỉ ăn ớt,</b> và sau đó anh ấy bắt đầu cười phá lên. “Cảm ơn em rất nhiều về chiếc
              bánh!”, anh ấy nói, “Anh thích nó… nhưng chúng mình hãy đi mua một cái khác ở cửa hàng bánh được không?”
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 37 - Nói Đuổi
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.6 - Native Speech - Topic 3 - Easy as Pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Well that was a <b>disaster</b>. It turns out that <b>ordering</b> out is <b>a lot easier</b> than <b>cooking </b>at home. And cooking is <b>much more difficult than it looks </b>in videos. I wanted to make a cake for my husband’s birthday.
              <b>How complicated could it be?</b> It’s just cake and icing, I thought.</td>
            <td>Vâng, đó là một <b>thảm họa. </b>Hóa ra <b>gọi đồ </b>ở bên ngoài <b>dễ hơn </b>nấu ăn ở nhà <b>nhiều</b>. Và <b>nấu ăn </b>thì <b>khó hơn khi xem trong các video rất nhiều.</b> Tôi muốn làm một chiếc bánh cho sinh nhật của chồng tôi. <b>Có thể phức tạp đến mức nào chứ? </b>Chỉ
              là bánh và phủ kem thôi, tôi đã nghĩ vậy.
            </td>
          </tr>
          <tr class="row">
            <td>I put my phone on the kitchen counter and <b>followed the video instructions</b>. The woman in the clip kept saying “<b>You’re doing great</b>!” and “<b>Doesn’t that look delicious?</b>” but my cake looked, and smelled,like rotten soup, and
              my kitchen’s fire alarm went off!
            </td>
            <td>Tôi đặt điện thoại lên trên kệ bếp và <b>làm theo video hướng dẫn.</b> Người phụ nữ trong clip luôn nói rằng “<b>Bạn đang làm rất tốt!</b>” và “<b>Trông nó không ngon sao</b>?” nhưng nhìn bánh của tôi, và ngửi mùi của nó đi, như thể súp bị
              thiu, và cả việc thiết bị báo cháy trong bếp đổ chuông nữa!
            </td>
          </tr>
          <tr class="row">
            <td>Thankfully, the icing wasn’t<b> tricky</b>, so the cake didn’t look that bad. But when my husband <b>took the first bite</b>, his face scrunched up like he just bit into a lemon. Then he started laughing. “Thank you so much for the cake!”
              he said, “I love it… but let’s go get one from a bakery, yeah?”</td>
            <td>May sao, phần kem phủ không <b>phức tạp</b> cho lắm, thế nên cái bánh nhìn không quá tệ. Nhưng khi chồng tôi<b> thử miếng đầu tiên</b>, mặt anh ấy <b>nhăn như khỉ ăn ớt,</b> và sau đó anh ấy bắt đầu cười phá lên. “Cảm ơn em rất nhiều về chiếc
              bánh!”, anh ấy nói, “Anh thích nó… nhưng chúng mình hãy đi mua một cái khác ở cửa hàng bánh được không?”
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <a href="index.php?directional=lession6-day36"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession6-day38"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>