<div class="col-lg-9">
  <h2>Ngày 40 - Phản xạ đa chiều - Phản xạ đa chiều - Easy as Pie (Không bắt buộc)</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-06/topic03.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 6.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 40 - Phản xạ đa chiều - Easy as Pie (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 06 - FOOD/Recording 6.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="4">
              <h3>Topic 01: I Have a Bit of a Sweet Tooth</h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Menu (n)</td>
            <td>/ˈmenjuː/</td>
            <td>Thực đơn</td>
            <td>Would you like some time to look over the <b>menu</b>?</td>
          </tr>
          <tr class="row">
            <td>Appetizers (n)</td>
            <td>/ˈæpɪtaɪzərz/</td>
            <td>Món khai vị</td>
            <td>Could we start with some <b>appetizers</b> for the table, please?</td>
          </tr>
          <tr class="row">
            <td>Weight (n)</td>
            <td>/weɪt/</td>
            <td>Cân nặng</td>
            <td>I’m watching my <b>weight</b>.</td>
          </tr>
          <tr class="row">
            <td>Portion (n)</td>
            <td>/ˈpɔːrʃn/</td>
            <td>Khẩu phần ăn</td>
            <td>Do you think one <b>portion</b> is enough for everyone?</td>
          </tr>
          <tr class="row">
            <td>Hurt (v)</td>
            <td>/hɜːrt/</td>
            <td>Gây hại</td>
            <td>A little cake never <b>hurt </b>anyone…</td>
          </tr>
          <tr class="row">
            <td>Slice (n)</td>
            <td>/slaɪs/</td>
            <td>Miếng, lát, phần</td>
            <td>Sorry, do you mean one <b>slice</b>?</td>
          </tr>
          <tr class="row">
            <td>Today’s special (n)</td>
            <td>/təˈdeɪz ˈspeʃl/</td>
            <td>Món đặc biệt của ngày hôm nay</td>
            <td>Of course, <b>today’s special</b> is garlic bread. Would you like that?</td>
          </tr>
          <tr class="row">
            <td>Worried (adj)</td>
            <td>/ˈwɜːrid/</td>
            <td>Lo lắng</td>
            <td>That’s a good idea. But I’m <b>worried</b> that’s too much.</td>
          </tr>
          <tr class="row">
            <td>Dessert (n)</td>
            <td>/dɪˈzɜːrt/</td>
            <td>Món tráng miệng</td>
            <td>And if you’re still hungry, you can always order <b>dessert</b>.</td>
          </tr>
          <tr class="row">
            <td>Family style (n)</td>
            <td>/ˈfæməli staɪl/</td>
            <td>Phong cách, kiểu gia đình</td>
            <td>How do you feel about ordering a few <b>family style</b> dishes?</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-6" colspan="2"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Would you like some time to look over the menu?</td>
            <td>Chị có cần thời gian để xem qua thực đơn không?</td>
            <td colspan="2">Hi, welcome to Mario’s Italian Restaurant. <b>Would you like some time to look over the menu</b>?</td>
          </tr>
          <tr class="row">
            <td>Could we start with some appetizers for the table, please?</td>
            <td>Chúng tôi có thể bắt đầu với các món khai vị được không?</td>
            <td colspan="2">We already know what we’d like. <b>Could we start with some appetizers for the table, please</b>?</td>
          </tr>
          <tr class="row">
            <td>Do you think one portion is enough for everyone?</td>
            <td>Anh có nghĩ rằng một phần là đủ cho tất cả mọi người không?</td>
            <td colspan="2">Yes, please. <b>Do you think one portion is enough for everyone</b>?</td>
          </tr>
          <tr class="row">
            <td>Get a salad to share</td>
            <td>Gọi một phần rau trộn để ăn chung với nhau</td>
            <td colspan="2">It should be. If you’d like, you could also <b>get a salad to share</b>.</td>
          </tr>
          <tr class="row">
            <td>Order a main dish</td>
            <td>Gọi một món chính</td>
            <td colspan="2">That’s a good idea. But I’m worried that’s too much. We all want to<b> order a main dish </b>as well.</td>
          </tr>
          <tr class="row">
            <td>Take it home</td>
            <td>Mang về nhà</td>
            <td colspan="2">How do you feel about ordering a few family style dishes? If it’s too much you can <b>take it home</b>.</td>
          </tr>
          <tr class="row">
            <td>Watching my weight</td>
            <td>Đang để ý cân nặng của mình</td>
            <td colspan="2">Oh no, I shouldn’t eat anything too sweet, I’m<b> watching my weight</b>.</td>
          </tr>
          <tr class="row">
            <td>A little cake never hurt anyone</td>
            <td>Một chút bánh sẽ không gây hại cho ai cả</td>
            <td colspan="2">– Oh no, I shouldn’t eat anything too sweet, I’m watching my weight.
              <p></p>
              <p>– <b>A little cake never hurt anyone</b>…</p>
            </td>
          </tr>
          <tr class="row">
            <td>That’s a good idea</td>
            <td>Đó là một ý kiến hay</td>
            <td colspan="2"><b>That’s a good idea</b>. But I’m worried that’s too much.</td>
          </tr>
          <tr class="row">
            <td>Thought of that</td>
            <td>Nghĩ ra điều đó</td>
            <td colspan="2">I hadn’t <b>thought of that</b>. What do you all think?</td>
          </tr>
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 02: Home Cooking</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Dinner (n)</td>
            <td>/ˈdɪnər/</td>
            <td>Bữa tối</td>
            <td>We’re about to have <b>dinner</b>.</td>
          </tr>
          <tr class="row">
            <td>Plans (n)</td>
            <td>/plænz/</td>
            <td>Kế hoạch</td>
            <td>Sorry, I’d like to stay Mom, but I have <b>plans </b>with a friend tonight.</td>
          </tr>
          <tr class="row">
            <td>Fast food (n)</td>
            <td>/ˌfæst ˈfuːd/</td>
            <td>Thức ăn nhanh</td>
            <td>You’ve been eating<b> fast food</b> way too often.</td>
          </tr>
          <tr class="row">
            <td>French fries (n)</td>
            <td>/ˈfrentʃ fraɪz/</td>
            <td>Khoai tây chiên</td>
            <td>You know <b>french fries</b> are potatoes, and they’re sort of healthy, too.</td>
          </tr>
          <tr class="row">
            <td><strong>Expression</strong></td>
            <td><strong>Meaning</strong></td>
            <td><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>We’re about to have dinner</td>
            <td>Chúng ta sắp ăn tối rồi</td>
            <td colspan="2">Where are you going? <b>We’re about to have dinner.</b></td>
          </tr>
          <tr class="row">
            <td>Have plans</td>
            <td>Có kế hoạch</td>
            <td colspan="2">Sorry, I’d like to stay Mom, but I <b>have plans</b> with a friend tonight.</td>
          </tr>
          <tr class="row">
            <td>To work over dinner</td>
            <td>Làm việc trong bữa tối</td>
            <td colspan="2">Actually we’re going <b>to work over dinner</b>.</td>
          </tr>
          <tr class="row">
            <td>Way too often</td>
            <td>Một cách quá thường xuyên</td>
            <td colspan="2">Burgers again? You’ve been eating fast food<b> way too often</b>.</td>
          </tr>
          <tr class="row">
            <td>No offense to you</td>
            <td>Không có ý gì đâu</td>
            <td colspan="2">Well <b>no offense to you</b>, but you’re beginning to look like a McBurger.</td>
          </tr>
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 03: Easy as Pie</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Disaster (n)</td>
            <td>/dɪˈzæstər/</td>
            <td>Thảm họa</td>
            <td>Well that was a <b>disaster</b>.</td>
          </tr>
          <tr class="row">
            <td>Ordering (n)</td>
            <td>/ˈɔːrdərɪŋ/</td>
            <td>Gọi (món ăn, thức uống…), đặt (hàng…)</td>
            <td>It turns out <b>ordering</b> out is a lot easier than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Easier (adj)</td>
            <td>/ˈiːzi/</td>
            <td>Dễ hơn</td>
            <td>It turns out ordering out is a lot <b>easier</b> than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Cooking (v)</td>
            <td>/ˈkʊkɪŋ/</td>
            <td>Nấu ăn</td>
            <td>It turns out ordering out is a lot easier than <b>cooking</b> at home.</td>
          </tr>
          <tr class="row">
            <td>A lot (quantifier)</td>
            <td>/ə ˈlɑːt/</td>
            <td>Nhiều</td>
            <td>It turns out ordering out is <b>a lot </b>easier than cooking at home.</td>
          </tr>
          <tr class="row">
            <td>Difficult (adj)</td>
            <td>/ˈdɪfɪkəlt/</td>
            <td>Khó khăn</td>
            <td>And cooking is much more <b>difficult</b> than it looks in videos.</td>
          </tr>
          <tr class="row">
            <td>Tricky (adj)</td>
            <td>/ˈtrɪki/</td>
            <td>Phức tạp, rắc rối</td>
            <td>Thankfully, the icing wasn’t <b>tricky</b>, so the cake didn’t look that bad.</td>
          </tr>
          <tr class="row">
            <td><strong>Expression</strong></td>
            <td><strong>Meaning</strong></td>
            <td><strong>Example</strong></td>
          </tr>
          <tr class="row">
            <td>Much more difficult than it looks</td>
            <td>Khó hơn nhiều so với lúc nhìn</td>
            <td colspan="2">And cooking is <b>much more difficult than it looks</b> in videos.</td>
          </tr>
          <tr class="row">
            <td>How complicated could it be?</td>
            <td>Phức tạp đến đâu chứ</td>
            <td colspan="2"><b>How complicated could it be?</b> It’s just cake and icing, I thought.</td>
          </tr>
          <tr class="row">
            <td>Followed the video instructions</td>
            <td>Làm theo video hướng dẫn</td>
            <td colspan="2">I put my phone on the kitchen counter and <b>followed the video instructions</b>.</td>
          </tr>
          <tr class="row">
            <td>You’re doing great!</td>
            <td>Bạn đang làm rất tốt!</td>
            <td colspan="2">The woman in the clip kept saying “<b>You’re doing great!</b>” and “Doesn’t that look delicious?”</td>
          </tr>
          <tr class="row">
            <td>Doesn’t that look delicious?</td>
            <td>Trông nó không ngon sao?</td>
            <td colspan="2">The woman in the clip kept saying “You’re doing great!” and “<b>Doesn’t that look delicious?</b>”</td>
          </tr>
          <tr class="row">
            <td>Scrunched up like he just bit into a lemon</td>
            <td>Nhăn như vừa căn phải miếng chanh (“nhăn như khỉ ăn ớt”)</td>
            <td colspan="2">But when my husband took the first bite, his face<b> scrunched up like he just bit into a lemon.</b></td>
          </tr>
          <tr class="row">
            <td>Took the first bite</td>
            <td>Thử miếng đầu tiên</td>
            <td colspan="2">But when my husband <b>took the first bite</b>, his face scrunched up like he just bit into a lemon.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 03</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 6.6</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 6.6</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 40 - Phản xạ đa chiều - Easy as Pie (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.6 - Native Speech - Topic 3 - Easy as Pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
            <!-- <th class="col-lg-2" scope="row"></th> -->
            <th class="col-lg-6">Tiếng Anh</th>
            <th class="col-lg-6">Tiếng Việt</th>
          </tr>
          <tr class="row">
            <td>Well that was a <b>disaster</b>. It turns out that <b>ordering</b> out is <b>a lot easier</b> than <b>cooking </b>at home. And cooking is <b>much more difficult than it looks </b>in videos. I wanted to make a cake for my husband’s birthday.
              <b>How complicated could it be?</b> It’s just cake and icing, I thought.</td>
            <td>Vâng, đó là một <b>thảm họa. </b>Hóa ra <b>gọi đồ </b>ở bên ngoài <b>dễ hơn </b>nấu ăn ở nhà <b>nhiều</b>. Và <b>nấu ăn </b>thì <b>khó hơn khi xem trong các video rất nhiều.</b> Tôi muốn làm một chiếc bánh cho sinh nhật của chồng tôi. <b>Có thể phức tạp đến mức nào chứ? </b>Chỉ
              là bánh và phủ kem thôi, tôi đã nghĩ vậy.
            </td>
          </tr>
          <tr class="row">
            <td>I put my phone on the kitchen counter and <b>followed the video instructions</b>. The woman in the clip kept saying “<b>You’re doing great</b>!” and “<b>Doesn’t that look delicious?</b>” but my cake looked, and smelled,like rotten soup, and
              my kitchen’s fire alarm went off!
            </td>
            <td>Tôi đặt điện thoại lên trên kệ bếp và <b>làm theo video hướng dẫn.</b> Người phụ nữ trong clip luôn nói rằng “<b>Bạn đang làm rất tốt!</b>” và “<b>Trông nó không ngon sao</b>?” nhưng nhìn bánh của tôi, và ngửi mùi của nó đi, như thể súp bị
              thiu, và cả việc thiết bị báo cháy trong bếp đổ chuông nữa!
            </td>
          </tr>
          <tr class="row">
            <td>Thankfully, the icing wasn’t<b> tricky</b>, so the cake didn’t look that bad. But when my husband <b>took the first bite</b>, his face scrunched up like he just bit into a lemon. Then he started laughing. “Thank you so much for the cake!”
              he said, “I love it… but let’s go get one from a bakery, yeah?”</td>
            <td>May sao, phần kem phủ không <b>phức tạp</b> cho lắm, thế nên cái bánh nhìn không quá tệ. Nhưng khi chồng tôi<b> thử miếng đầu tiên</b>, mặt anh ấy <b>nhăn như khỉ ăn ớt,</b> và sau đó anh ấy bắt đầu cười phá lên. “Cảm ơn em rất nhiều về chiếc
              bánh!”, anh ấy nói, “Anh thích nó… nhưng chúng mình hãy đi mua một cái khác ở cửa hàng bánh được không?”
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo <strong>Recording 4.10</strong> từ 5-7 lần cho đến khi bạn trả lời ngắn toàn bộ các câu hỏi của bạn đồng hành bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 40 - Phản xạ đa chiều - Easy as Pie (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.10 - Rapid Response - Topic 3 - easy as pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is easier, ordering out or cooking at home?</strong></td>
            <td><strong>Điều gì là dễ dàng hơn, gọi đồ ăn ngoài hay nấu ăn ở nhà?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out.</td>
            <td>Gọi đồ ăn ngoài.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out is a lot easier than cooking at home.</td>
            <td>Gọi đồ ăn ngoài dễ dàng hơn rất nhiều so với nấu ăn ở nhà.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why is ordering out easier than cooking at home?</strong></td>
            <td><strong>Tại sao gọi đồ ăn ngoài dễ dàng hơn nấu ăn ở nhà?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because cooking is much more difficult than it looks in videos.</td>
            <td>Đó là bởi vì nấu ăn khó hơn nhìn trong video.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out is easier than cooking at home because cooking is much more difficult than it looks in videos.</td>
            <td>Gọi đồ ăn ngoài dễ dàng hơn nấu ăn ở nhà vì nấu ăn khó hơn có nhìn trong video.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why did the wife want to make a cake? </strong></td>
            <td><strong>Tại sao người vợ muốn làm một chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>For her husband’s birthday.</td>
            <td>Cho sinh nhật của chồng mình.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She wanted to make a cake for her husband’s birthday.</td>
            <td>Cô ấy muốn làm một chiếc bánh cho ngày sinh nhật của chồng mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why does the wife think that making a cake isn’t complicated? </strong></td>
            <td><strong>Tại sao người vợ nghĩ rằng làm một chiếc bánh không phức tạp?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because she thinks that it’s just a cake and icing.</td>
            <td>Đó là bởi vì cô ấy nghĩ rằng nó chỉ là một chiếc bánh và trang trí.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Because it’s just a cake and icing. So, how complicated could it be?</td>
            <td>Bởi vì nó chỉ là một chiếc bánh và trang trí. Vì vậy, nó có thể phức tạp đến đâu chứ?</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What did the wife do to make the cake? </strong></td>
            <td><strong>Người vợ đã làm gì làm chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She followed the video instructions that showed how to make a cake.</td>
            <td>Cô làm theo hướng dẫn trong video về cách làm bánh.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She put her phone on the kitchen counter and followed the video instructions.</td>
            <td>Cô để điện thoại của mình trên quầy bếp và làm theo hướng dẫn trong video.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the woman in the video keep saying </strong>“<strong>You’re doing great!</strong>” <strong>or </strong>“<strong>Doesn’t that look delicious?</strong>”?</td>
            <td><strong>Người phụ nữ trong đoạn video nói </strong>“<strong>Bạn đang làm rất tốt!</strong>” <strong>hay </strong>“<strong>Trông nó không ngon sao?</strong>“?</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Both.</td>
            <td>Cả hai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The woman in the video kept saying both “You’re doing great!” and “Doesn’t that look delicious?”.</td>
            <td>Người phụ nữ trong video luôn nói rằng “Bạn đang làm rất tốt!” và “Trông nó không ngon sao?”.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Was the icing so tricky?</strong></td>
            <td><strong>Phần trang trí có khó không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, it wasn’t.</td>
            <td>Không, nó không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the icing wasn’t so tricky.</td>
            <td>Không, phần trang trí không khó khăn.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the husband like the cake?</strong></td>
            <td><strong>Người chồng có thích chiếc bánh không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, he didn’t.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the husband didn’t like the cake.</td>
            <td>Không, người chồng đã không thích chiếc bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why didn’t the husband like the cake?</strong></td>
            <td><strong>Tại sao người chồng không thích chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband didn’t like the cake because it didn’t taste good.</td>
            <td>Người chồng không thích chiếc bánh vì nó có vị không ngon.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband didn’t like the cake because when he took the first bite, his face scrunched up like he just bit into a lemon.</td>
            <td>Người chồng không thích chiếc bánh khi anh cắn miếng đầu tiên, mặt anh ấy nhăn như khỉ ăn gừng.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What did the husband suggest after trying the cake?</strong></td>
            <td><strong>Người chồng đã gợi ý điều gì sau khi thử ăn bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband suggested going to a bakery.</td>
            <td>Người chồng gợi ý đi ra tiệm bánh.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>He suggested going get a cake at a bakery.</td>
            <td>Anh gợi ý đi mua một chiếc bánh ở tiệm bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is the wife good at making cake?</strong></td>
            <td><strong>Người vợ có giỏi làm bánh không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, she’s not.</td>
            <td>Không, cô ấy không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the wife isn’t good at making cake.</td>
            <td>Không, người vợ không giỏi làm bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is ordering a cake easier than making it at home?</strong></td>
            <td><strong>Đặt một chiếc bánh có dễ dàng hơn làm nó ở nhà không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, it is.</td>
            <td>Vâng.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, ordering a cake is easier than making it at home.</td>
            <td>Có, đặt một chiếc bánh dễ dàng hơn làm nó ở nhà.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession6-day39"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession6-day41"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>