<div class="col-lg-9">
  <h2>Ngày 41 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-06/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 6.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 6.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 6.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 41 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.8 - Rapid Response - Topic 1 - I have a bit of a sweet tooth.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Where did Kathy and her neighbors go for dinner? </strong></td>
            <td><strong>Kathy và hàng xóm của cô đi ăn tối ở đâu?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>They went to Mario’s Italian Restaurant.</td>
            <td>Họ đi đến Nhà hàng Ý của Mario.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy and her neighbors went to Mario’s Italian Restaurant for dinner.</td>
            <td>Kathy và hàng xóm của cô đi đến Nhà hàng Ý của Mario để ăn tối.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Do Kathy and her neighbors need some time to look over the menu? </strong></td>
            <td><strong>Kathy và hàng xóm của cô có cần thời gian để xem thực đơn không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, they don’t.</td>
            <td>Không, họ không cần.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Kathy and her neighbors don’t need some time to look over the menu.</td>
            <td>Không, Kathy và hàng xóm của cô không cần thời gian để xem thực đơn.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is the first thing Kathy orders? </strong></td>
            <td><strong>Món đầu tiên Kathy gọi là gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Appetizer.</td>
            <td>Món khai vị.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The first thing Kathy orders is appetizer.</td>
            <td>Món đầu tiên Kathy gọi là món khai vị.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What’s today’s special at Mario’s Italian Restaurant?</strong></td>
            <td><strong>Món đặc biệt hôm nay là tại Nhà hàng Y của Mario gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s garlic bread.</td>
            <td>Đó là bánh mì bơ tỏi.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Today’s special at Mario’s Italian Restaurant is garlic bread.</td>
            <td>Hôm nay món đặc biệt tại nhà hàng Ý của Mario là bánh mì bơ tỏi.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is one portion at Mario’s Italian Restaurant enough for people? </strong></td>
            <td><strong>Một phần ăn tại Nhà hàng Ý của Mario có đủ cho mọi người không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, it is.</td>
            <td>Có.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, one portion at Mario’s Italian Restaurant is enough for people.</td>
            <td>Vâng, một phần ăn tại nhà hàng Ý của Mario là đủ cho mọi người.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How does Kathy feel about getting a salad to share?</strong></td>
            <td><strong>Kathy cảm thấy sao khi có một món rau trộn để ăn chung?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She thinks that it’s a good idea.</td>
            <td>Cô ấy nghĩ rằng đó là một ý hay.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy finds the idea of getting a salad to share a good one.</td>
            <td>Kathy thấy ăn chung một món rau trộn là ý hay.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Can Kathy and her neighbors take the remaining food home? </strong></td>
            <td><strong>Kathy và hàng xóm của cô có thể mang đồ ăn còn lại về nhà không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, they can.</td>
            <td>Vâng, họ có thể.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, they can take the remaining food home.</td>
            <td>Vâng, họ có thể mang thức ăn còn lại về nhà.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What type of dishes is Kathy ordering? </strong></td>
            <td><strong>Loại món ăn Kathy đang gọi là gì?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>A few family style dishes.</td>
            <td>Một vài món ăn phong cách gia đình.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She’s ordering family style dishes.</td>
            <td>Cô ấy đang gọi các món ăn phong cách gia đình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why shouldn’t Kathy eat dessert?</strong></td>
            <td><strong>Tại sao Kathy không nên ăn món tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy shouldn’t eat dessert to not gain weight.</td>
            <td>Kathy không nên ăn món tráng miệng để không tăng cân.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy shouldn’t eat dessert because she’s watching her weight.</td>
            <td>Kathy không nên ăn món tráng miệng vì cô ấy đang theo dõi cân nặng của mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What makes Kathy change her mind and order dessert?</strong></td>
            <td><strong>Điều gì khiến Kathy thay đổi ý định và gọi món tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>A little cake won’t make her gain weight.</td>
            <td>Một ít bánh sẽ không làm cô tăng cân.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because a little cake never hurt anyone.</td>
            <td>Đó là bởi vì một ít bánh không bao giờ làm hại ai.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is Kathy ordering for the dessert?</strong></td>
            <td><strong>Kathy đang gọi món gì để tráng miệng?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She’s ordering a cheesecake.</td>
            <td>Cô ấy đang gọi bánh phô mai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy is ordering a cheesecake.</td>
            <td>Kathy gọi một bánh phô mai.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Kathy ordering just one slice or the whole cheesecake? </strong></td>
            <td><strong>Kathy đang gọi một miếng bánh hay cả chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The whole cheesecake.</td>
            <td>Cả chiếc bánh phô mai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Kathy is ordering the whole cheesecake.</td>
            <td>Kathy đang gọi cả chiếc bánh phô mai.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 41 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.9 - Rapid Response - Topic 2 - Home Cooking.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why can’t the son stay for dinner? </strong></td>
            <td><strong>Tại sao người con trai lại không thể ở nhà ăn tối?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because he has plans with a friend tonight.</td>
            <td>Đó là vì anh đã có hẹn với một người bạn tối nay.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The son can’t stay for dinner because he has plans with a friend tonight.</td>
            <td>Người con trai không thể ở nhà ăn tối vì anh đã có hẹn với một người bạn tối nay.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What does the mother think her son should do before he goes?</strong></td>
            <td><strong>Người mẹ nghĩ con trai mình nên làm gì trước khi đi?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>At least eat a little before he goes.</td>
            <td>Ít nhất là ăn một chút trước khi đi.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The mother thinks that her son should at least eat a little before he goes.</td>
            <td>Người mẹ nghĩ rằng con trai mình nên ít ăn một chút trước khi đi.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why can’t the son eat before he goes?</strong></td>
            <td><strong>Tại sao người con trai không thể ăn trước khi đi?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because he’s going to work over dinner.</td>
            <td>Đó là vì anh ấy sẽ làm việc trong khi ăn tối.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The son can’t eat before he goes because he’s going to work over dinner.</td>
            <td>Người con trai không thể ăn trước khi đi vì anh ấy sẽ làm việc trong khi ăn tối.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is the mother happy with her son’s plan?</strong></td>
            <td><strong>Người mẹ có hài lòng với kế hoạch của con trai bà ấy không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, she’s not.</td>
            <td>Không, bà ấy không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the mother isn’t happy with her son’s plan.</td>
            <td>Không, người mẹ không hài lòng với kế hoạch của con trai bà.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why isn’t the mother happy with her son’s plan? </strong></td>
            <td><strong>Tại sao người mẹ không hài lòng với kế hoạch của con trai bà?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because he’s going to eat fast food which is not good for him.</td>
            <td>Đó là bởi vì anh ấy sẽ ăn đồ ăn nhanh không tốt cho anh ấy.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The mother isn’t happy with her son’s plan because he’s going to eat fast food.</td>
            <td>Người mẹ không hài lòng với kế hoạch của con trai bà vì anh ấy sẽ ăn đồ ăn nhanh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Does the son like fast food or his mother’s food?</strong></td>
            <td><strong>Người con trai thích đồ ăn nhanh hay đồ ăn của mẹ mình?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Both of them.</td>
            <td>Cả hai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The son likes both fast food and his mother’s food.</td>
            <td>Người con trai thích cả đồ ăn nhanh và đồ ăn của mẹ mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What does the son need to do if he eats fast food all the time?</strong></td>
            <td><strong>Người con cần phải làm gì nếu anh ấy lúc nào cũng ăn đồ ăn nhanh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>He needs to exercise more.</td>
            <td>Anh ấy cần phải tập thể dục nhiều hơn.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The son needs to exercise more if he eats fast food all the time.</td>
            <td>Người con cần phải tập thể dục nhiều hơn nếu anh ấy lúc nào cũng ăn thức ăn nhanh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why does the son think that burgers are healthy?</strong></td>
            <td><strong>Tại sao người con trai lại nghĩ rằng bánh mì kẹp thịt tốt cho sức khỏe?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because they have vegetables, like lettuce and tomatoes.</td>
            <td>Đó là bởi vì nó có rau như rau diếp và cà chua.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The son thinks that burgers are healthy because they have vegetables, like lettuce and tomatoes.</td>
            <td>Người con trai nghĩ rằng bánh mì kẹp thịt tốt cho sức khỏe vì nó có rau như rau diếp và cà chua.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why doesn’t the mother want to try fast food? </strong></td>
            <td><strong>Tại sao người mẹ không muốn thử đồ ăn nhanh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Mother doesn’t like fast food because it’s bad for her skin.</td>
            <td>Người mẹ không thích đồ ăn nhanh, vì nó có hại cho làn da của cô ấy.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because all the salt and fat they use in making fast food is bad for her skin.</td>
            <td>Đó là bởi vì tất cả muối và chất béo họ sử dụng làm đồ ăn nhanh đều có hại cho làn da của bà ấy.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why is the mother sure that fast food is bad? </strong></td>
            <td><strong>Tại sao người mẹ chắc chắn rằng đồ ăn nhanh là có hại?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because she can see its unhealthy effects on her son.</td>
            <td>Đó là vì bà ấy có thể nhìn thấy các tác động không lành mạnh của nó lên con trai mình.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The mother is sure that fast food is bad because she can see its bad effects on her son.</td>
            <td>Người mẹ chắc chắn rằng đồ ăn nhanh là có hại, vì bà ấy có thể thấy tác hại của nó lên con trai mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Will the son eat burgers outside home in the end?</strong></td>
            <td><strong>Cuối cùng thì người con trai có ăn bánh mì kẹp ở bên ngoài không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, he won’t.</td>
            <td>Không, anh ấy sẽ không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the son won’t eat burgers outside home in the end.</td>
            <td>Không, cuối cùng người con trai sẽ không ăn bánh mì kẹp ở bên ngoài.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is junk food healthy?</strong></td>
            <td><strong>Đồ ăn vặt có lành mạnh không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, it’s not.</td>
            <td>Không, nó không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, junk food isn’t healthy.</td>
            <td>Không, đồ ăn vặt không lành mạnh.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 41 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.10 - Rapid Response - Topic 3 - easy as pie.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What is easier, ordering out or cooking at home?</strong></td>
            <td><strong>Điều gì là dễ dàng hơn, gọi đồ ăn ngoài hay nấu ăn ở nhà?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out.</td>
            <td>Gọi đồ ăn ngoài.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out is a lot easier than cooking at home.</td>
            <td>Gọi đồ ăn ngoài dễ dàng hơn rất nhiều so với nấu ăn ở nhà.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why is ordering out easier than cooking at home?</strong></td>
            <td><strong>Tại sao gọi đồ ăn ngoài dễ dàng hơn nấu ăn ở nhà?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because cooking is much more difficult than it looks in videos.</td>
            <td>Đó là bởi vì nấu ăn khó hơn nhìn trong video.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Ordering out is easier than cooking at home because cooking is much more difficult than it looks in videos.</td>
            <td>Gọi đồ ăn ngoài dễ dàng hơn nấu ăn ở nhà vì nấu ăn khó hơn có nhìn trong video.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why did the wife want to make a cake? </strong></td>
            <td><strong>Tại sao người vợ muốn làm một chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>For her husband’s birthday.</td>
            <td>Cho sinh nhật của chồng mình.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She wanted to make a cake for her husband’s birthday.</td>
            <td>Cô ấy muốn làm một chiếc bánh cho ngày sinh nhật của chồng mình.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why does the wife think that making a cake isn’t complicated? </strong></td>
            <td><strong>Tại sao người vợ nghĩ rằng làm một chiếc bánh không phức tạp?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s because she thinks that it’s just a cake and icing.</td>
            <td>Đó là bởi vì cô ấy nghĩ rằng nó chỉ là một chiếc bánh và trang trí.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Because it’s just a cake and icing. So, how complicated could it be?</td>
            <td>Bởi vì nó chỉ là một chiếc bánh và trang trí. Vì vậy, nó có thể phức tạp đến đâu chứ?</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What did the wife do to make the cake? </strong></td>
            <td><strong>Người vợ đã làm gì làm chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She followed the video instructions that showed how to make a cake.</td>
            <td>Cô làm theo hướng dẫn trong video về cách làm bánh.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>She put her phone on the kitchen counter and followed the video instructions.</td>
            <td>Cô để điện thoại của mình trên quầy bếp và làm theo hướng dẫn trong video.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the woman in the video keep saying </strong>“<strong>You’re doing great!</strong>” <strong>or </strong>“<strong>Doesn’t that look delicious?</strong>”?</td>
            <td><strong>Người phụ nữ trong đoạn video nói </strong>“<strong>Bạn đang làm rất tốt!</strong>” <strong>hay </strong>“<strong>Trông nó không ngon sao?</strong>“?</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Both.</td>
            <td>Cả hai.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The woman in the video kept saying both “You’re doing great!” and “Doesn’t that look delicious?”.</td>
            <td>Người phụ nữ trong video luôn nói rằng “Bạn đang làm rất tốt!” và “Trông nó không ngon sao?”.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Was the icing so tricky?</strong></td>
            <td><strong>Phần trang trí có khó không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, it wasn’t.</td>
            <td>Không, nó không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the icing wasn’t so tricky.</td>
            <td>Không, phần trang trí không khó khăn.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the husband like the cake?</strong></td>
            <td><strong>Người chồng có thích chiếc bánh không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, he didn’t.</td>
            <td>Không, anh ấy không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the husband didn’t like the cake.</td>
            <td>Không, người chồng đã không thích chiếc bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why didn’t the husband like the cake?</strong></td>
            <td><strong>Tại sao người chồng không thích chiếc bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband didn’t like the cake because it didn’t taste good.</td>
            <td>Người chồng không thích chiếc bánh vì nó có vị không ngon.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband didn’t like the cake because when he took the first bite, his face scrunched up like he just bit into a lemon.</td>
            <td>Người chồng không thích chiếc bánh khi anh cắn miếng đầu tiên, mặt anh ấy nhăn như khỉ ăn gừng.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What did the husband suggest after trying the cake?</strong></td>
            <td><strong>Người chồng đã gợi ý điều gì sau khi thử ăn bánh?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>The husband suggested going to a bakery.</td>
            <td>Người chồng gợi ý đi ra tiệm bánh.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>He suggested going get a cake at a bakery.</td>
            <td>Anh gợi ý đi mua một chiếc bánh ở tiệm bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is the wife good at making cake?</strong></td>
            <td><strong>Người vợ có giỏi làm bánh không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, she’s not.</td>
            <td>Không, cô ấy không.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, the wife isn’t good at making cake.</td>
            <td>Không, người vợ không giỏi làm bánh.</td>
          </tr>
          <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is ordering a cake easier than making it at home?</strong></td>
            <td><strong>Đặt một chiếc bánh có dễ dàng hơn làm nó ở nhà không?</strong></td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, it is.</td>
            <td>Vâng.</td>
          </tr>
          <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, ordering a cake is easier than making it at home.</td>
            <td>Có, đặt một chiếc bánh dễ dàng hơn làm nó ở nhà.</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 6.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 6.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 06 - Food || Ngày 41 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 06 - FOOD/Recording 6.11 - Production.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau phần thực hành này, bạn sẽ vận dụng một cách tự nhiên hơn khi nói về thói quen buổi sáng, lên kế hoạch cho một dịp và ngày nhất định và nói về sinh nhật của mình</h5>


  <div>
    <a href="index.php?directional=lession6-day40"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession6-day42"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>