<div class="col-lg-9">
  <h2>Ngày 47 - Phản xạ đa chiều - Rest Stop (Không bắt buộc)</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-07/topic03.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 7.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 47 - Phản xạ đa chiều - Rest Stop (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 07 - GUIDE/Recording 7.7 - Immersion.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="4">
              <h3>Topic 01: Wrong Way!</h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Town (n)</td>
          <td>/taʊn/</td>
          <td>Thị trấn</td>
          <td>Are you near<b> town</b>?</td>
          </tr>
          <tr class="row">
          <td>Behind (adv, preposition)</td>
          <td>/bɪˈhaɪnd/</td>
          <td>Sau, phía sau</td>
          <td>Then my house is right after the park, <b>behind</b> the shopping center.</td>
          </tr>
          <tr class="row">
          <td>West (adv)</td>
          <td>/west/</td>
          <td>Phía Tây</td>
          <td>Town’s about fifteen minutes <b>west</b> from here.</td>
          </tr>
          <tr class="row">
          <td>A bit (quantifier)</td>
          <td>/ə ˈbɪt/</td>
          <td>Một chút</td>
          <td>I’m on my way to your party but I’m <b>a bit</b> lost.</td>
          </tr>
          <tr class="row">
              <td class="col-lg-3"><strong>Expression</strong></td>
              <td class="col-lg-3"><strong>Meaning</strong></td>
              <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>On my way</td>
          <td>Đang trên đường</td>
          <td colspan="2">I’m <b>on my way</b> to your party but I’m a bit lost. Can you help me?</td>
          </tr>
          <tr class="row">
          <td>Where are you now?</td>
          <td>Giờ cậu đang ở đâu?</td>
          <td colspan="2">Sure. <b>Where are you now?</b> Are you near town?</td>
          </tr>
          <tr class="row">
          <td>Excuse me, how far am I from town?</td>
          <td>Xin lỗi, tôi cách thị trấn bao xa?</td>
          <td colspan="2">Um…I’m not sure. Let me ask. <b>Excuse me, how far am I from town?</b></td>
          </tr>
          <tr class="row">
          <td>About fifteen minutes west from here</td>
          <td>Khoảng mười lăm phút về phía Tây</td>
          <td colspan="2">Excuse me, how far am I from town? Town’s <b>about fifteen minutes west from here.</b> You’re on I-95 now.</td>
          </tr>
          <tr class="row">
          <td>At the second traffic light, take a left</td>
          <td>Đến đèn giao thông thứ hai, rẽ trái</td>
          <td colspan="2">Yes. You want to head west. <b>At the second traffic light, take a left.</b> Then my house is right after the park, behind the shopping center.</td>
          </tr>
          <tr class="row">
          <td>Right after the park, behind the shopping center</td>
          <td>Ngay sau công viên, phía sau Trung tâm mua sắm.</td>
          <td colspan="2">Yes. You want to head west. At the second traffic light, take a left. Then my house is <b>right after the park, behind the shopping center.</b></td>
          </tr>
          <tr class="row">
          <td>Passing one traffic light</td>
          <td>Đang đi qua một đèn giao thông</td>
          <td colspan="2">Okay, I’m <b>passing one traffic light</b>…and here’s the second one. You said turn left?</td>
          </tr>
          <tr class="row">
          <td>Turn left</td>
          <td>Rẽ trái</td>
          <td colspan="2">Okay, I’m passing one traffic light…and here’s the second one. You said <b>turn left</b>?</td>
          </tr>
          <tr class="row">
          <td>Turning right</td>
          <td>Rẽ phải </td>
          <td colspan="2">Oh, okay. <b>Turning right</b> now…I’ll see you soon! Bye!</td>
          </tr>
          <tr class="row">
          <td>You were supposed to</td>
          <td>Cậu đã được dặn dò/ yêu cầu</td>
          <td colspan="2">Wait! Don! Donald! <b>You were supposed to </b>turn left! Don! Oh gosh…</td>
          </tr>
          <tr class="row">
          <td>Head west</td>
          <td>Đi thẳng về phía Tây</td>
          <td colspan="2">Yes. You want to <b>head west.</b> At the second traffic light, take a left.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 02: Family Trip</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Carry-on (n)</td>
          <td>/ˈkæri ɑːn/</td>
          <td>Hành lý mang theo</td>
          <td>Every passenger is entitled to one <b>carry-on</b> and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Domestic (adj)</td>
          <td>/dəˈmestɪk/</td>
          <td>Nội địa</td>
          <td>Every passenger is entitled to one carry-on and one checked bag of no more than twenty pounds for <b>domestic</b> flights.</td>
          </tr>
          <tr class="row">
          <td>Baggage (n)</td>
          <td>/ˈbæɡɪdʒ/</td>
          <td>Hành lý</td>
          <td>And what are your <b>baggage</b> requirements?</td>
          </tr>
          <tr class="row">
          <td>Requirements (n)</td>
          <td>/rɪˈkwaɪərmənts/</td>
          <td>Thủ tục, luật lệ, yêu cầu</td>
          <td>And what are your baggage <b>requirements</b>?</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>I’d like to ask about</td>
          <td>Tôi muốn hỏi về&nbsp;(Phong cách lịch sự)</td>
          <td colspan="2">Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
          </tr>
          <tr class="row">
          <td>How many</td>
          <td>Bao nhiêu</td>
          <td colspan="2">And <b>how many</b> tickets would you like to purchase?</td>
          </tr>
          <tr class="row">
          <td>Economy, business class, or first class</td>
          <td>Phổ thông tiết kiệm, thương gia hay hạng nhất?</td>
          <td colspan="2">And will those be <b>economy, business class, or first class</b>?</td>
          </tr>
          <tr class="row">
          <td>Would you like to purchase</td>
          <td>Bạn có muốn mua</td>
          <td colspan="2">Certainly. And <b>would you like to purchase</b> round trip tickets now?</td>
          </tr>
          <tr class="row">
          <td>Round trip</td>
          <td>Khứ hồi</td>
          <td colspan="2">And would you like to purchase <b>round trip </b>tickets now?</td>
          </tr>
          <tr class="row">
          <td>Entitled to</td>
          <td>Được quyền mang</td>
          <td colspan="2">Every passenger is <b>entitled to</b> one carry-on and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Checked bag</td>
          <td>Hành lý ký gửi </td>
          <td colspan="2">Every passenger is entitled to one carry-on and one <b>checked bag</b> of no more than twenty pounds for domestic flights.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 03: Rest Stop</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Trip (n)</td>
          <td>/trɪp/</td>
          <td>Chuyến đi</td>
          <td>My very first bus <b>trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Foreign (adj)</td>
          <td>/ˈfɔːrən/</td>
          <td>(thuộc) nước ngoài</td>
          <td>My very first bus trip in a <b>foreign</b> country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Language (n)</td>
          <td>/ˈlæŋɡwɪdʒ/</td>
          <td>Tiếng, ngôn ngữ</td>
          <td>The thing is… I didn’t speak the <b>language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>Very first bus trip</td>
          <td>Chuyến đi xe buýt đầu tiên</td>
          <td colspan="2">My <b>very first bus trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Unforgettable experience</td>
          <td>Trải nghiệm khó quên.</td>
          <td colspan="2">My very first bus trip in a foreign country was an <b>unforgettable experience</b>.</td>
          </tr>
          <tr class="row">
          <td>Decided to take the bus</td>
          <td>Quyết định đi xe buýt </td>
          <td colspan="2">And I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
          </tr>
          <tr class="row">
          <td>Really convenient</td>
          <td>Thực sự tiện nghi</td>
          <td colspan="2">The bus picked me up at my hotel, which was <b>really convenient</b>, but after we got on the highway, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>As soon as we got on the highway</td>
          <td>Sau khi chúng tôi lên đường cao tốc</td>
          <td colspan="2">The bus picked me up at my hotel, which was really convenient, but <b>as soon as we got on the highway</b>, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>Unlike trains</td>
          <td>Không giống như xe lửa</td>
          <td colspan="2">I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
          </tr>
          <tr class="row">
          <td>Speak the language</td>
          <td>Nói ngôn ngữ đó</td>
          <td colspan="2">The thing is… I didn’t <b>speak the language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
          <td>Body language</td>
          <td>Ngôn ngữ cơ thể</td>
          <td colspan="2">She understood my problem by reading my <b>body language </b>and spoke to the bus driver for me.</td>
          </tr>
          <tr class="row">
          <td>Helped me out</td>
          <td>Đã giúp đỡ tôi</td>
          <td colspan="2">To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>.</td>
          </tr>
          <tr class="row">
          <td>Crisis averted</td>
          <td>Khủng hoảng được ngăn chặn!</td>
          <td colspan="2">The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
          </tr>
          </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 03</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 7.7</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 7.7</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.6 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 47 - Phản xạ đa chiều - Rest Stop (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.6 - Native Speech - Topic 3 - Rest Stops.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-7"><b>English</b></td>
          <td class="col-lg-7"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td>My <b>very first bus trip</b> in a <b>foreign </b>country was an <b>unforgettable experience.</b> I was in the mountains of Morocco, and I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
          <td><b>Chuyến đi xe buýt đầu tiên</b> ở <b>nước ngoài </b>của tôi là một<b> trải nghiệm khó quên</b>. Tôi đã ở những ngọn núi của Ma-Rốc, và tôi muốn đi ra biển, nhưng tôi đã không có nhiều tiền, vì vậy tôi <b>quyết định đi xe buýt </b>thay vì xe lửa.</td>
          </tr>
          <tr class="row">
          <td>The bus picked me up at my hotel, which was <b>really convenient,</b> but <b>as soon as we got on the highway</b>, the trouble started. I felt so sleepy…and meanwhile… I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
          <td>Xe buýt đón tôi tại khách sạn, nơi <b>thực sự tiện nghi</b>, nhưng <b>sau khi chúng tôi lên đường cao tốc</b>, rắc rối bắt đầu ập đến. Tôi cảm thấy buồn ngủ … và trong khi đó… Tôi rất cần sử dụng nhà vệ sinh, còn xe buýt, <b>không giống như xe lửa</b>, không có nhà vệ sinh.</td>
          </tr>
          <tr class="row">
          <td>And you know? I’m scared of seeing a bathroom in my dream. It’s a trap!<p></p>
          <p>So…</p>
          <p>I had to solve my problem!</p></td>
          <td>Và bạn biết không? Tôi rất sợ nhìn thấy nhà vệ sinh trong giấc mơ của tôi. Đó là một cái bẫy!<p></p>
          <p>Vì vậy…</p>
          <p>Tôi phải giải quyết vấn đề của mình!</p></td>
          </tr>
          <tr class="row">
          <td>The thing is… I didn’t <b>speak the language</b>, and no one could speak English. Thankfully, the woman sitting next to me was very kind. She understood my problem by reading my <b>body language</b> and spoke to the bus driver for me.</td>
          <td>Vấn đề là… tôi không biết <b>nói ngôn ngữ đó</b>, và không ai có thể nói tiếng Anh cả. Rất may, người phụ nữ ngồi cạnh tôi rất tốt bụng. Cô ấy hiểu vấn đề của tôi qua vài <b>ngôn ngữ cơ thể </b>và nói với tài xế xe buýt giúp tôi.</td>
          </tr>
          <tr class="row">
          <td>To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>. The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
          <td>Nói thật, tôi chưa bao giờ nói chuyện với ai trên xe buýt trước đây, nhưng người phụ nữ này thực sự <b>đã giúp đỡ tôi</b>. Người tài xế xe buýt tăng tốc đến điểm dừng tiếp theo và cho tôi xuống một vài phút. <b>Khủng hoảng được ngăn chặn</b>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo <strong>Recording 4.10</strong> từ 5-7 lần cho đến khi bạn trả lời ngắn toàn bộ các câu hỏi của bạn đồng hành bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 47 - Phản xạ đa chiều - Rest Stop (Không bắt buộc)
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - Guide/Recording 7.10 - Rapid Response - Topic 3 - easy as pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
            <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What’s the speaker’s unforgettable experience? </strong></td>
            <td><strong>Trải nghiệm khó quên của người nói là gì?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s his very first bus trip in a foreign country.</td>
            <td>Đó là chuyến đi xe buýt đầu tiên của anh ấy ở nước ngoài.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The speaker’s unforgettable experience is his very first bus trip in a foreign country.</td>
            <td>Trải nghiệm khó quên của người nói là chuyến đi xe buýt đầu tiên của anh ấy ở nước ngoài.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why is it difficult for the speaker to take the train to the beach? </strong></td>
            <td><strong>Tại sao lại khó khăn cho người nói khi đi tàu hỏa đến bãi biển?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>It’s difficult for the speaker to take the train to the beach because he doesn’t have a lot of money.</td>
            <td>Rất khó khăn cho người nói khi đi tàu hỏa đến bãi biển bởi vì anh ấy không có nhiều tiền.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td><span style="font-weight: 400;">It’s difficult for the speaker to take the train to the beach because it’s expensive, and he doesn’t have a lot of money.</span></td>
            <td>Rất khó khăn cho người nói khi đi tàu hỏa đến bãi biển bởi vì nó tốn kém, và anh ấy không có nhiều tiền.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How did the speaker</strong> <strong>decide to go to the beach?</strong></td>
            <td><strong>Người nói </strong><strong>quyết định đi đến bãi biển bằng cách nào?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The speaker decided to go to the beach by bus.</td>
            <td>Người nói quyết định đi đến bãi biển bằng xe buýt.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The speaker decided to take the bus to the beach.</td>
            <td>Người nói đã quyết định đi xe buýt đến bãi biển.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the speaker take the bus instead of the train to the beach?</strong></td>
            <td><strong>Có phải người nói đi xe buýt thay vì tàu hỏa đến bãi biển?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, he did.</td>
            <td>Vâng, anh ấy đã làm vậy.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, the speaker decided to take the bus instead of the train to the beach.</td>
            <td>Vâng, người nói đã quyết định đi xe buýt thay vì tàu hỏa đến bãi biển.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Was the bus pickup point convenient for the speaker?</strong></td>
            <td><strong>Điểm đón của xe buýt có thuận tiện cho người nói không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, it was.</td>
            <td>Vâng, nó tiện.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Yes, the bus pickup point was convenient for the speaker.</td>
            <td>Vâng, điểm đón xe buýt thuận tiện cho người nói.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>6. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Where did the bus pick the speaker</strong> <strong>up?</strong></td>
            <td><strong>Xe buýt đón người nói </strong><strong>ở đâu?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>At the speaker’s hotel.</td>
            <td>Tại khách sạn của người nói.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The bus picked the speaker up at his hotel.</td>
            <td>Xe buýt đón người nói ở khách sạn của anh ấy.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the trouble start before or after the bus got on the highway?</strong></td>
            <td><strong>Vấn đề bắt đầu xảy ra trước khi hay sau khi xe buýt lên đường cao tốc?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>After the bus got on the highway.</td>
            <td>Sau khi xe buýt lên đường cao tốc.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The trouble started after the bus got on the highway.</td>
            <td>Vấn đề bắt đầu xảy ra sau khi xe buýt lên đường cao tốc.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>What was the trouble?</strong></td>
            <td><strong>Vấn đề là gì?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The speaker needed to use the bathroom, and the bus didn’t have one.</td>
            <td>Người nói cần sử dụng nhà vệ sinh, mà xe buýt thì không có.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>The trouble was that the speaker needed to use the bathroom, but unlike trains, the bus didn’t have one.</td>
            <td>Vấn đề là người nói cần sử dụng nhà vệ sinh, nhưng không giống như tàu hỏa, xe buýt không có.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How is the bus different from the train?</strong></td>
            <td><strong>Xe buýt khác tàu hỏa như thế nào?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>It doesn’t have a bathroom like trains.</td>
            <td>Nó không có nhà vệ sinh như tàu hỏa.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Unlike trains, it doesn’t have a bathroom.</td>
            <td>Không giống như tàu hỏa, nó không có nhà vệ sinh.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Does anyone on the bus speak English?</strong></td>
            <td><strong>Có ai trên xe buýt nói tiếng Anh không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No one does.</td>
            <td>Không ai cả.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No one on the bus speaks English.</td>
            <td>Không ai trên xe buýt nói tiếng Anh cả.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Did the speaker speak the language of the foreign country?</strong></td>
            <td><strong>Người nói có nói ngôn ngữ nước ngoài đó không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, he didn’t.</td>
            <td>Không, anh ấy không biết.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No,<span style="font-weight: 400;"> the speaker didn’t speak the language of the foreign country.</span></td>
            <td>Không, người nói không nói ngôn ngữ nước ngoài đó.</td>
            </tr>
            <tr>
            <td><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How did the woman understand the speaker’s problem? </strong></td>
            <td><strong>Người phụ nữ đã hiểu vấn đề của người nói bằng cách nào?</strong></td>
            </tr>
            <tr>
            <td></td>
            <td>Answer<strong>:</strong></td>
            <td>The woman understood the speaker’s problem from his body language.</td>
            <td>Người phụ nữ hiểu vấn đề của người nói từ ngôn ngữ cơ thể của anh ấy.</td>
            </tr>
            <tr>
            <td></td>
            <td>Answer<strong>:</strong></td>
            <td>The woman understood the speaker’s problem through his body language.</td>
            <td>Người phụ nữ hiểu vấn đề của người nói thông qua ngôn ngữ cơ thể của anh ấy.</td>
            </tr>
            </tbody>
            </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession7-day39"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession7-day41"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>