<div class="col-lg-9">
  <h2>Ngày 48 - Thử thách</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-07/title.png" alt="" width="875px" height="150px">

  <h4>Bước 1: Phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 7.8 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 7.9 từ 1-2 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời nhanh với Recording 7.10 từ 1-2 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.8 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 48 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.8 - Rapid Response - Topic 1 - Wrong way.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
          <td rowspan="3"><strong>1. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>What happened to Don on his way to Bernadette’s house?</strong></td>
          <td><strong>Điều gì đã xảy ra với Don trên đường đến nhà của Bernadette?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It seems that he got lost.</td>
          <td>Có vẻ như anh đã bị lạc.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don got lost on his way to Bernadette’s house.</td>
          <td>Don đã bị lạc trên đường đến nhà của Bernadette.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>2. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Why does Don have to call Bernadette? </strong></td>
          <td><strong>Tại sao Don phải gọi cho Bernadette?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don has to call Bernadette to ask for directions.</td>
          <td>Don phải gọi cho Bernadette để hỏi đường.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don has to call Bernadette because he seems to get lost, and needs to ask for directions.</td>
          <td>Don phải gọi Bernadette vì anh có vẻ bị lạc, và phải hỏi đường.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>3. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Don on his way to school? </strong></td>
          <td><strong>Có phải Don đang trên đường đi học không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Don is on his way to a party.</td>
          <td>Không, Don đang trên đường đến một bữa tiệc.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Don is on his way to Bernadette’s party.</td>
          <td>Không, Don đang trên đường đến bữa tiệc của Bernadette.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>4. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Why does Don need Bernadette’s help?</strong></td>
          <td><strong>Tại sao Don cần sự giúp đỡ của Bernadette?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s because he’s a bit lost.</td>
          <td>Đó là vì anh ấy đi hơi lạc.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don needs Bernadette’s help because he’s a bit lost.</td>
          <td>Don cần sự giúp đỡ của Bernadette vì anh ấy đi hơi lạc.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>5. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Don near town?</strong></td>
          <td><strong>Don có gần thị trấn không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>He’s not sure.</td>
          <td>Anh ấy không chắc lắm.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Maybe yes, maybe no. He’s not sure.</td>
          <td>Có thể có, có thể không. Anh ấy không chắc lắm.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>6. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How far is the gas station from town?</strong></td>
          <td><strong>Trạm xăng cách thị trấn bao xa?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s 15 minutes east from town.</td>
          <td>Nó cách thị trấn 15 phút về phía đông.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The gas station is 15 minutes east from town.</td>
          <td>Trạm xăng cách thị trấn 15 phút về phía đông.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>7. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Where is the gas station? </strong></td>
          <td><strong>Trạm xăng ở đâu?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s on the I-95.</td>
          <td>Đó là mốc I-95.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The gas station is on the I-95.</td>
          <td>Trạm xăng ở mốc I-95.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>8. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Should Don head west or head east?</strong></td>
          <td><strong>Don nên đi về phía Tây hay phía Đông?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>West.</td>
          <td>Phía Tây.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don should head west.</td>
          <td>Don nên đi về phía Tây.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>9. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Don supposed to take his left at the first traffic light or the second traffic light?</strong></td>
          <td><strong>Don phải rẽ trái ở đèn giao thông đầu tiên hay thứ hai?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The second traffic light.</td>
          <td>Đèn giao thông thứ hai.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Don is supposed to take his left at the second traffic light.</td>
          <td>Don phải rẽ trái ở đèn giao thông thứ hai.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>10. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Where is Bernadette’s house?</strong></td>
          <td><strong>Nhà của Bernadette ở đâu?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s right after the park, behind the shopping center.</td>
          <td>Nó ở ngay sau công viên, phía sau Trung tâm mua sắm.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Bernadette’s house is right after the park, behind the shopping center.</td>
          <td>Nhà của Bernadette nằm ngay sau công viên, phía sau Trung tâm mua sắm.</td>
          </tr>
          <tr>
          <td><strong>11. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How many traffic lights does Don have to pass?</strong></td>
          <td><strong>Có bao nhiêu đèn giao thông Don phải đi qua?</strong></td>
          </tr>
          <tr>
          <td></td>
          <td>Answer<strong>:</strong><p></p>
          <p>Answer<strong>: </strong></p></td>
          <td>Two traffic lights.<p></p>
          <p>Don has to pass two traffic lights.</p></td>
          <td>Hai đèn giao thông.<p></p>
          <p>Don phải đi qua hai đèn giao thông.</p></td>
          </tr>
          <tr>
          <td><strong>12.</strong></td>
          <td><strong>Question:</strong><p></p>
          <p>Answer<strong>:</strong></p>
          <p>Answer<strong>:</strong></p></td>
          <td><strong>Was Don supposed to turn left?</strong><p></p>
          <p>Yes, Don was supposed to turn left.</p>
          <p>Yes, Don was supposed to turn left, not right.</p></td>
          <td><strong>Don phải rẽ trái đúng không?</strong><p></p>
          <p>Vâng, Don phải rẽ trái.</p>
          <p>Vâng, Don phải rẽ trái, không phải rẽ phải.</p></td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 48 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.9 - Rapid Response - Topic 2 - Family Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
          <td rowspan="3"><strong>1. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Why is Sarah booking flight tickets?</strong></td>
          <td><strong>Tại sao Sarah đặt vé máy bay?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is booking flight tickets for her family trip to Hawaii.</td>
          <td>Sarah đặt vé máy bay cho chuyến đi gia đình đến Hawaii.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is booking flight tickets because her family is going on a trip to Hawaii.</td>
          <td>Sarah đang đặt vé máy bay vì gia đình cô sắp đi du lịch đến Hawaii.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>2. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Sarah’s family going to India?</strong></td>
          <td><strong>Gia đình của Sarah sẽ đi Ấn Độ phải không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Sarah’s family is going to Hawaii.</td>
          <td>Không, gia đình của Sarah sẽ đi đến Hawaii.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Sarah’s family isn’t going to India.</td>
          <td>Không, gia đình của Sarah không phải là đi đến Ấn Độ.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>3. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>When is Sarah traveling?</strong></td>
          <td><strong>Khi nào thì Sarah đi du lịch?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>This summer.</td>
          <td>Mùa hè này.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is traveling this summer.</td>
          <td>Sarah đi du lịch mùa hè này.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>4. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Would Sarah like to purchase five tickets or seven tickets?</strong></td>
          <td><strong>Sarah muốn mua năm vé hay bảy vé?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Five tickets.</td>
          <td>Năm vé.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah would like to purchase five tickets.</td>
          <td>Sarah muốn mua năm vé.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>5. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Sarah purchasing tickets for her friends?</strong></td>
          <td><strong>Sarah đang mua vé cho bạn bè của cô ấy phải không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Sarah is purchasing tickets for her family.</td>
          <td>Không, Sarah đang mua vé cho gia đình mình.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Sarah is not purchasing tickets for her friends. She’s purchasing tickets for her family.</td>
          <td>Không, Sarah không mua vé cho bạn bè của cô ấy. Cô ấy đang mua vé cho gia đình mình.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>7. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Which type of tickets is Sarah purchasing?</strong></td>
          <td><strong>Sarah mua loại vé nào?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Four economy tickets, and one first class.</td>
          <td>Bốn vé phổ thông, và một vé cao cấp.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is purchasing four economy tickets, and one first class.</td>
          <td>Sarah mua bốn vé phổ thông, và một vé cao cấp.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>7. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Sarah purchasing five economy tickets?</strong></td>
          <td><strong>Có phải Sarah mua năm vé phổ thông không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, Sarah is only purchasing four economy tickets.</td>
          <td>Không, Sarah chỉ mua bốn vé phổ thông.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, she’s not purchasing five economy tickets, only four.</td>
          <td>Không, cô ấy không mua năm vé phổ thông, chỉ có bốn thôi.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>8. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is Sarah purchasing three round trip tickets or four?</strong></td>
          <td><strong>Sarah mua ba hay bốn vé khứ hồi?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Four round trip tickets.</td>
          <td>Bốn vé khứ hồi.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is purchasing four round trip tickets.</td>
          <td>Sarah mua bốn vé khứ hồi.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>9. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How many one-way tickets is Sarah purchasing?</strong></td>
          <td><strong>Sarah mua bao nhiêu vé một chiều?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Just a one-way ticket.</td>
          <td>Chỉ một vé một chiều.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Sarah is purchasing one one-way ticket.</td>
          <td>Sarah mua một vé một chiều.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>10. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How many carry-ons are entitled to every passenger?</strong></td>
          <td><strong>Mỗi hành khách có quyền mang theo bao nhiêu hành lý xách tay?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Just one carry-on.</td>
          <td>Chỉ có một hành lý xách tay.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Every passenger is entitled to one carry-on.</td>
          <td>Mỗi hành khách được mang theo một hành lý xách tay.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>11. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Is every passenger entitled to two checked bags? </strong></td>
          <td><strong>Có phải mỗi hành khách hàng được mang hai hành lý ký gửi không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, just one checked bag.</td>
          <td>Không, chỉ một hành lý ký gửi.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, every passenger is entitled to only one checked bag.</td>
          <td>Không, mỗi hành khách chỉ được mang một hành lý ký gửi.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>12. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How many pounds is every passenger entitled to for his checked bag for domestic flights?</strong></td>
          <td><strong>Mỗi hành khách có quyền mang hành lý ký gửi nặng bao nhiêu pao cho chuyến bay nội địa?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No more than twenty pounds.</td>
          <td>Không quá hai mươi pao.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Every passenger is entitled to one checked bag of no more than twenty pounds for domestic flights.</td>
          <td>Mỗi hành khách được quyền mang một hành lý ký gửi nặng không quá hai mươi pao cho chuyến bay nội địa.</td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.10 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 48 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.10 - Rapid Response - Topic 3 - Rest Stops.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr>
          <td rowspan="3"><strong>1. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>What’s the speaker’s unforgettable experience? </strong></td>
          <td><strong>Trải nghiệm khó quên của người nói là gì?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s his very first bus trip in a foreign country.</td>
          <td>Đó là chuyến đi xe buýt đầu tiên của anh ấy ở nước ngoài.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The speaker’s unforgettable experience is his very first bus trip in a foreign country.</td>
          <td>Trải nghiệm khó quên của người nói là chuyến đi xe buýt đầu tiên của anh ấy ở nước ngoài.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>2. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Why is it difficult for the speaker to take the train to the beach? </strong></td>
          <td><strong>Tại sao lại khó khăn cho người nói khi đi tàu hỏa đến bãi biển?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It’s difficult for the speaker to take the train to the beach because he doesn’t have a lot of money.</td>
          <td>Rất khó khăn cho người nói khi đi tàu hỏa đến bãi biển bởi vì anh ấy không có nhiều tiền.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td><span style="font-weight: 400;">It’s difficult for the speaker to take the train to the beach because it’s expensive, and he doesn’t have a lot of money.</span></td>
          <td>Rất khó khăn cho người nói khi đi tàu hỏa đến bãi biển bởi vì nó tốn kém, và anh ấy không có nhiều tiền.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>3. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How did the speaker</strong> <strong>decide to go to the beach?</strong></td>
          <td><strong>Người nói </strong><strong>quyết định đi đến bãi biển bằng cách nào?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The speaker decided to go to the beach by bus.</td>
          <td>Người nói quyết định đi đến bãi biển bằng xe buýt.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The speaker decided to take the bus to the beach.</td>
          <td>Người nói đã quyết định đi xe buýt đến bãi biển.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>4. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Did the speaker take the bus instead of the train to the beach?</strong></td>
          <td><strong>Có phải người nói đi xe buýt thay vì tàu hỏa đến bãi biển?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Yes, he did.</td>
          <td>Vâng, anh ấy đã làm vậy.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Yes, the speaker decided to take the bus instead of the train to the beach.</td>
          <td>Vâng, người nói đã quyết định đi xe buýt thay vì tàu hỏa đến bãi biển.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>5. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Was the bus pickup point convenient for the speaker?</strong></td>
          <td><strong>Điểm đón của xe buýt có thuận tiện cho người nói không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Yes, it was.</td>
          <td>Vâng, nó tiện.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Yes, the bus pickup point was convenient for the speaker.</td>
          <td>Vâng, điểm đón xe buýt thuận tiện cho người nói.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>6. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Where did the bus pick the speaker</strong> <strong>up?</strong></td>
          <td><strong>Xe buýt đón người nói </strong><strong>ở đâu?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>At the speaker’s hotel.</td>
          <td>Tại khách sạn của người nói.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The bus picked the speaker up at his hotel.</td>
          <td>Xe buýt đón người nói ở khách sạn của anh ấy.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>7. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Did the trouble start before or after the bus got on the highway?</strong></td>
          <td><strong>Vấn đề bắt đầu xảy ra trước khi hay sau khi xe buýt lên đường cao tốc?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>After the bus got on the highway.</td>
          <td>Sau khi xe buýt lên đường cao tốc.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The trouble started after the bus got on the highway.</td>
          <td>Vấn đề bắt đầu xảy ra sau khi xe buýt lên đường cao tốc.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>8. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>What was the trouble?</strong></td>
          <td><strong>Vấn đề là gì?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The speaker needed to use the bathroom, and the bus didn’t have one.</td>
          <td>Người nói cần sử dụng nhà vệ sinh, mà xe buýt thì không có.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>The trouble was that the speaker needed to use the bathroom, but unlike trains, the bus didn’t have one.</td>
          <td>Vấn đề là người nói cần sử dụng nhà vệ sinh, nhưng không giống như tàu hỏa, xe buýt không có.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>9. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How is the bus different from the train?</strong></td>
          <td><strong>Xe buýt khác tàu hỏa như thế nào?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>It doesn’t have a bathroom like trains.</td>
          <td>Nó không có nhà vệ sinh như tàu hỏa.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>Unlike trains, it doesn’t have a bathroom.</td>
          <td>Không giống như tàu hỏa, nó không có nhà vệ sinh.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>10. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Does anyone on the bus speak English?</strong></td>
          <td><strong>Có ai trên xe buýt nói tiếng Anh không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No one does.</td>
          <td>Không ai cả.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No one on the bus speaks English.</td>
          <td>Không ai trên xe buýt nói tiếng Anh cả.</td>
          </tr>
          <tr>
          <td rowspan="3"><strong>11. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>Did the speaker speak the language of the foreign country?</strong></td>
          <td><strong>Người nói có nói ngôn ngữ nước ngoài đó không?</strong></td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No, he didn’t.</td>
          <td>Không, anh ấy không biết.</td>
          </tr>
          <tr>
          <td>Answer<strong>:</strong></td>
          <td>No,<span style="font-weight: 400;"> the speaker didn’t speak the language of the foreign country.</span></td>
          <td>Không, người nói không nói ngôn ngữ nước ngoài đó.</td>
          </tr>
          <tr>
          <td><strong>12. </strong></td>
          <td><strong>Question:</strong></td>
          <td><strong>How did the woman understand the speaker’s problem? </strong></td>
          <td><strong>Người phụ nữ đã hiểu vấn đề của người nói bằng cách nào?</strong></td>
          </tr>
          <tr>
          <td></td>
          <td>Answer<strong>:</strong></td>
          <td>The woman understood the speaker’s problem from his body language.</td>
          <td>Người phụ nữ hiểu vấn đề của người nói từ ngôn ngữ cơ thể của anh ấy.</td>
          </tr>
          <tr>
          <td></td>
          <td>Answer<strong>:</strong></td>
          <td>The woman understood the speaker’s problem through his body language.</td>
          <td>Người phụ nữ hiểu vấn đề của người nói thông qua ngôn ngữ cơ thể của anh ấy.</td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Cá nhân hóa</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Tải phần tài liệu production sau đây về máy – bấm vào đây để download – Luyện tập từ 2-3 lần (Có thể nhìn phần dịch và từ điển nếu cần).</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe Recording 7.11 và trả lời vào khoảng trống từ 3-5 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.11
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 48 - Thử thách
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.11 - Production.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4>Bước 3: Thử thách</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tưởng tượng bạn vô tình gặp một người nước ngoài tại Hồ Gươm hoặc nhà thờ Đức Bà, bạn hãy chủ động là người hỏi chuyện làm quen với người bạn đó.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy tạo ra một kịch bản từ 10 – 15 câu hỏi đáp và thực hành nói trước gương sao cho thật tự nhiên.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Bạn cũng có thể tìm một người bạn để đối thoại cùng nhau như các nhân vật tại Lesson 01!</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sau phần thực hành này, bạn sẽ vận dụng một cách tự nhiên hơn khi nói về thói quen buổi sáng, lên kế hoạch cho một dịp và ngày nhất định và nói về sinh nhật của mình</h5>


  <div>
    <a href="index.php?directional=lession7-day40"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession7-day42"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>