<div class="col-lg-9">
  <h2>Ngày 46 - Phản xạ đa chiều - Family Trip</h2>
  <h5>Topic Progress: <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> <i class="fa fa-check-square-o" style="font-size:20px;color:blue"></i> </h5>
  <img src="image/lession-07/topic02.png" alt="" width="800px" height="200px">

  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h4>Bước 1: Luyện từ và mẫu câu chủ đạo</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và nói theo Recording 7.7 từ 3-5 lần.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 46 - Phản xạ đa chiều - Family Trip
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 07 - GUIDE/Recording 7.7 - Immersion.mp3" type="audio/mpeg" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="4">
              <h3>Topic 01: Wrong Way!</h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Town (n)</td>
          <td>/taʊn/</td>
          <td>Thị trấn</td>
          <td>Are you near<b> town</b>?</td>
          </tr>
          <tr class="row">
          <td>Behind (adv, preposition)</td>
          <td>/bɪˈhaɪnd/</td>
          <td>Sau, phía sau</td>
          <td>Then my house is right after the park, <b>behind</b> the shopping center.</td>
          </tr>
          <tr class="row">
          <td>West (adv)</td>
          <td>/west/</td>
          <td>Phía Tây</td>
          <td>Town’s about fifteen minutes <b>west</b> from here.</td>
          </tr>
          <tr class="row">
          <td>A bit (quantifier)</td>
          <td>/ə ˈbɪt/</td>
          <td>Một chút</td>
          <td>I’m on my way to your party but I’m <b>a bit</b> lost.</td>
          </tr>
          <tr class="row">
              <td class="col-lg-3"><strong>Expression</strong></td>
              <td class="col-lg-3"><strong>Meaning</strong></td>
              <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>On my way</td>
          <td>Đang trên đường</td>
          <td colspan="2">I’m <b>on my way</b> to your party but I’m a bit lost. Can you help me?</td>
          </tr>
          <tr class="row">
          <td>Where are you now?</td>
          <td>Giờ cậu đang ở đâu?</td>
          <td colspan="2">Sure. <b>Where are you now?</b> Are you near town?</td>
          </tr>
          <tr class="row">
          <td>Excuse me, how far am I from town?</td>
          <td>Xin lỗi, tôi cách thị trấn bao xa?</td>
          <td colspan="2">Um…I’m not sure. Let me ask. <b>Excuse me, how far am I from town?</b></td>
          </tr>
          <tr class="row">
          <td>About fifteen minutes west from here</td>
          <td>Khoảng mười lăm phút về phía Tây</td>
          <td colspan="2">Excuse me, how far am I from town? Town’s <b>about fifteen minutes west from here.</b> You’re on I-95 now.</td>
          </tr>
          <tr class="row">
          <td>At the second traffic light, take a left</td>
          <td>Đến đèn giao thông thứ hai, rẽ trái</td>
          <td colspan="2">Yes. You want to head west. <b>At the second traffic light, take a left.</b> Then my house is right after the park, behind the shopping center.</td>
          </tr>
          <tr class="row">
          <td>Right after the park, behind the shopping center</td>
          <td>Ngay sau công viên, phía sau Trung tâm mua sắm.</td>
          <td colspan="2">Yes. You want to head west. At the second traffic light, take a left. Then my house is <b>right after the park, behind the shopping center.</b></td>
          </tr>
          <tr class="row">
          <td>Passing one traffic light</td>
          <td>Đang đi qua một đèn giao thông</td>
          <td colspan="2">Okay, I’m <b>passing one traffic light</b>…and here’s the second one. You said turn left?</td>
          </tr>
          <tr class="row">
          <td>Turn left</td>
          <td>Rẽ trái</td>
          <td colspan="2">Okay, I’m passing one traffic light…and here’s the second one. You said <b>turn left</b>?</td>
          </tr>
          <tr class="row">
          <td>Turning right</td>
          <td>Rẽ phải </td>
          <td colspan="2">Oh, okay. <b>Turning right</b> now…I’ll see you soon! Bye!</td>
          </tr>
          <tr class="row">
          <td>You were supposed to</td>
          <td>Cậu đã được dặn dò/ yêu cầu</td>
          <td colspan="2">Wait! Don! Donald! <b>You were supposed to </b>turn left! Don! Oh gosh…</td>
          </tr>
          <tr class="row">
          <td>Head west</td>
          <td>Đi thẳng về phía Tây</td>
          <td colspan="2">Yes. You want to <b>head west.</b> At the second traffic light, take a left.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 02: Family Trip</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Carry-on (n)</td>
          <td>/ˈkæri ɑːn/</td>
          <td>Hành lý mang theo</td>
          <td>Every passenger is entitled to one <b>carry-on</b> and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Domestic (adj)</td>
          <td>/dəˈmestɪk/</td>
          <td>Nội địa</td>
          <td>Every passenger is entitled to one carry-on and one checked bag of no more than twenty pounds for <b>domestic</b> flights.</td>
          </tr>
          <tr class="row">
          <td>Baggage (n)</td>
          <td>/ˈbæɡɪdʒ/</td>
          <td>Hành lý</td>
          <td>And what are your <b>baggage</b> requirements?</td>
          </tr>
          <tr class="row">
          <td>Requirements (n)</td>
          <td>/rɪˈkwaɪərmənts/</td>
          <td>Thủ tục, luật lệ, yêu cầu</td>
          <td>And what are your baggage <b>requirements</b>?</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>I’d like to ask about</td>
          <td>Tôi muốn hỏi về&nbsp;(Phong cách lịch sự)</td>
          <td colspan="2">Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
          </tr>
          <tr class="row">
          <td>How many</td>
          <td>Bao nhiêu</td>
          <td colspan="2">And <b>how many</b> tickets would you like to purchase?</td>
          </tr>
          <tr class="row">
          <td>Economy, business class, or first class</td>
          <td>Phổ thông tiết kiệm, thương gia hay hạng nhất?</td>
          <td colspan="2">And will those be <b>economy, business class, or first class</b>?</td>
          </tr>
          <tr class="row">
          <td>Would you like to purchase</td>
          <td>Bạn có muốn mua</td>
          <td colspan="2">Certainly. And <b>would you like to purchase</b> round trip tickets now?</td>
          </tr>
          <tr class="row">
          <td>Round trip</td>
          <td>Khứ hồi</td>
          <td colspan="2">And would you like to purchase <b>round trip </b>tickets now?</td>
          </tr>
          <tr class="row">
          <td>Entitled to</td>
          <td>Được quyền mang</td>
          <td colspan="2">Every passenger is <b>entitled to</b> one carry-on and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Checked bag</td>
          <td>Hành lý ký gửi </td>
          <td colspan="2">Every passenger is entitled to one carry-on and one <b>checked bag</b> of no more than twenty pounds for domestic flights.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 03: Rest Stop</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Trip (n)</td>
          <td>/trɪp/</td>
          <td>Chuyến đi</td>
          <td>My very first bus <b>trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Foreign (adj)</td>
          <td>/ˈfɔːrən/</td>
          <td>(thuộc) nước ngoài</td>
          <td>My very first bus trip in a <b>foreign</b> country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Language (n)</td>
          <td>/ˈlæŋɡwɪdʒ/</td>
          <td>Tiếng, ngôn ngữ</td>
          <td>The thing is… I didn’t speak the <b>language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>Very first bus trip</td>
          <td>Chuyến đi xe buýt đầu tiên</td>
          <td colspan="2">My <b>very first bus trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Unforgettable experience</td>
          <td>Trải nghiệm khó quên.</td>
          <td colspan="2">My very first bus trip in a foreign country was an <b>unforgettable experience</b>.</td>
          </tr>
          <tr class="row">
          <td>Decided to take the bus</td>
          <td>Quyết định đi xe buýt </td>
          <td colspan="2">And I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
          </tr>
          <tr class="row">
          <td>Really convenient</td>
          <td>Thực sự tiện nghi</td>
          <td colspan="2">The bus picked me up at my hotel, which was <b>really convenient</b>, but after we got on the highway, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>As soon as we got on the highway</td>
          <td>Sau khi chúng tôi lên đường cao tốc</td>
          <td colspan="2">The bus picked me up at my hotel, which was really convenient, but <b>as soon as we got on the highway</b>, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>Unlike trains</td>
          <td>Không giống như xe lửa</td>
          <td colspan="2">I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
          </tr>
          <tr class="row">
          <td>Speak the language</td>
          <td>Nói ngôn ngữ đó</td>
          <td colspan="2">The thing is… I didn’t <b>speak the language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
          <td>Body language</td>
          <td>Ngôn ngữ cơ thể</td>
          <td colspan="2">She understood my problem by reading my <b>body language </b>and spoke to the bus driver for me.</td>
          </tr>
          <tr class="row">
          <td>Helped me out</td>
          <td>Đã giúp đỡ tôi</td>
          <td colspan="2">To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>.</td>
          </tr>
          <tr class="row">
          <td>Crisis averted</td>
          <td>Khủng hoảng được ngăn chặn!</td>
          <td colspan="2">The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
          </tr>
          </table>
      </div>
    </div>
  </div>

  <h4>Bước 2: Luyện nói đuổi Topic 02</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 7.4</strong> từ 2-3 lần.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nói đuổi theo <strong>Recording 7.4</strong> từ 2-3 lần.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 46 - Phản xạ đa chiều - Family Trip
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.4 - Native Speech - Topic 2 - Family Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
          <table class="col-md-12 table table-striped">
            <tr class="row">
            <td class="col-lg-2"></td>
            <td class="col-lg-5"><b>English</b></td>
            <td class="col-lg-5"><b>Tiếng Việt</b></td>
            </tr>
            <tr class="row">
            <td></td>
            <td>Sarah is booking flight tickets for her family trip to Hawaii.</td>
            <td>Sarah đang đặt vé máy bay cho chuyến đi gia đình đến Hawaii.</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
            <td>Xin chào, <b>tôi muốn hỏi về</b> vé bay từ Philadelphia đến Hawaii.</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>Certainly, when are you traveling?</td>
            <td>Chắc rồi, khi nào chị đi du lịch?</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>This summer.</td>
            <td>Mùa hè này.</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>And <b>how many </b>tickets would you like to purchase?</td>
            <td>Vậy chị muốn mua <b>bao nhiêu</b> vé?</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>Five. I’m traveling with my family.</td>
            <td>Năm vé. Tôi đi du lịch với gia đình.</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>And will those be <b>economy, business class, or first class</b>?</td>
            <td>Vậy vé sẽ là hạng <b>phổ thông tiết kiệm, thương gia hay hạng nhất</b>?</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>Hmm, could I have four economy tickets, and one first class, please?</td>
            <td>Ừm, tôi có thể mua bốn vé phổ thông, và một vé hạng nhất được không?</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>Certainly. And <b>would you like to purchase round trip</b> tickets now?</td>
            <td>Tất nhiên rồi. Và<b> chị muốn mua vé khứ hồi </b>bây giờ luôn chứ?</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>Actually… could you make that four round trip tickets and one one-way ticket?</td>
            <td>Thực ra… bạn có thể lấy cho tôi bốn vé khứ hồi và một vé một chiều được không?</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>That’s not a problem.</td>
            <td>Không vấn đề gì.</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>And what are your <b>baggage requirements</b>?</td>
            <td>Vậy <b>yêu cầu</b> về <b>hành lý</b> của bạn là gì?</td>
            </tr>
            <tr class="row">
            <td>Clerk</td>
            <td>Every passenger is <b>entitled to </b>one <b>carry-on</b> and one <b>checked bag</b> of no more than twenty pounds for <b>domestic</b> flights.</td>
            <td>Mỗi hành khách <b>được quyền mang </b>một <b>hành lý xách tay (mang theo) </b>và một <b>hành lý ký gửi</b> nặng không quá hai mươi pao cho các chuyến bay <b>nội địa</b> .</td>
            </tr>
            <tr class="row">
            <td>Sarah</td>
            <td>Is there a fine for going over that? I’m planning on bringing a lot with me…</td>
            <td>Nếu vượt mức đó có bị phạt tiền không? Tôi đang định mang theo rất nhiều đồ …</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Bước 3: Luyện phản xạ đa chiều</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe và trả lời theo <strong>Recording 7.9</strong> từ 7-7 lần cho đến khi bạn trả lời ngắn toàn bộ các câu hỏi của bạn đồng hành bản ngữ.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.9 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 46 - Phản xạ đa chiều - Home Cooking
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.9 - Rapid Response - Topic 2 - Family Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
            <tr>
            <td rowspan="3"><strong>1. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Why is Sarah booking flight tickets?</strong></td>
            <td><strong>Tại sao Sarah đặt vé máy bay?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is booking flight tickets for her family trip to Hawaii.</td>
            <td>Sarah đặt vé máy bay cho chuyến đi gia đình đến Hawaii.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is booking flight tickets because her family is going on a trip to Hawaii.</td>
            <td>Sarah đang đặt vé máy bay vì gia đình cô sắp đi du lịch đến Hawaii.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>2. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Sarah’s family going to India?</strong></td>
            <td><strong>Gia đình của Sarah sẽ đi Ấn Độ phải không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Sarah’s family is going to Hawaii.</td>
            <td>Không, gia đình của Sarah sẽ đi đến Hawaii.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Sarah’s family isn’t going to India.</td>
            <td>Không, gia đình của Sarah không phải là đi đến Ấn Độ.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>3. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>When is Sarah traveling?</strong></td>
            <td><strong>Khi nào thì Sarah đi du lịch?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>This summer.</td>
            <td>Mùa hè này.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is traveling this summer.</td>
            <td>Sarah đi du lịch mùa hè này.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>4. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Would Sarah like to purchase five tickets or seven tickets?</strong></td>
            <td><strong>Sarah muốn mua năm vé hay bảy vé?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Five tickets.</td>
            <td>Năm vé.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah would like to purchase five tickets.</td>
            <td>Sarah muốn mua năm vé.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>5. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Sarah purchasing tickets for her friends?</strong></td>
            <td><strong>Sarah đang mua vé cho bạn bè của cô ấy phải không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Sarah is purchasing tickets for her family.</td>
            <td>Không, Sarah đang mua vé cho gia đình mình.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Sarah is not purchasing tickets for her friends. She’s purchasing tickets for her family.</td>
            <td>Không, Sarah không mua vé cho bạn bè của cô ấy. Cô ấy đang mua vé cho gia đình mình.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Which type of tickets is Sarah purchasing?</strong></td>
            <td><strong>Sarah mua loại vé nào?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Four economy tickets, and one first class.</td>
            <td>Bốn vé phổ thông, và một vé cao cấp.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is purchasing four economy tickets, and one first class.</td>
            <td>Sarah mua bốn vé phổ thông, và một vé cao cấp.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>7. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Sarah purchasing five economy tickets?</strong></td>
            <td><strong>Có phải Sarah mua năm vé phổ thông không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, Sarah is only purchasing four economy tickets.</td>
            <td>Không, Sarah chỉ mua bốn vé phổ thông.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, she’s not purchasing five economy tickets, only four.</td>
            <td>Không, cô ấy không mua năm vé phổ thông, chỉ có bốn thôi.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>8. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is Sarah purchasing three round trip tickets or four?</strong></td>
            <td><strong>Sarah mua ba hay bốn vé khứ hồi?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Four round trip tickets.</td>
            <td>Bốn vé khứ hồi.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is purchasing four round trip tickets.</td>
            <td>Sarah mua bốn vé khứ hồi.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>9. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How many one-way tickets is Sarah purchasing?</strong></td>
            <td><strong>Sarah mua bao nhiêu vé một chiều?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Just a one-way ticket.</td>
            <td>Chỉ một vé một chiều.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Sarah is purchasing one one-way ticket.</td>
            <td>Sarah mua một vé một chiều.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>10. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How many carry-ons are entitled to every passenger?</strong></td>
            <td><strong>Mỗi hành khách có quyền mang theo bao nhiêu hành lý xách tay?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Just one carry-on.</td>
            <td>Chỉ có một hành lý xách tay.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Every passenger is entitled to one carry-on.</td>
            <td>Mỗi hành khách được mang theo một hành lý xách tay.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>11. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>Is every passenger entitled to two checked bags? </strong></td>
            <td><strong>Có phải mỗi hành khách hàng được mang hai hành lý ký gửi không?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, just one checked bag.</td>
            <td>Không, chỉ một hành lý ký gửi.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No, every passenger is entitled to only one checked bag.</td>
            <td>Không, mỗi hành khách chỉ được mang một hành lý ký gửi.</td>
            </tr>
            <tr>
            <td rowspan="3"><strong>12. </strong></td>
            <td><strong>Question:</strong></td>
            <td><strong>How many pounds is every passenger entitled to for his checked bag for domestic flights?</strong></td>
            <td><strong>Mỗi hành khách có quyền mang hành lý ký gửi nặng bao nhiêu pao cho chuyến bay nội địa?</strong></td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>No more than twenty pounds.</td>
            <td>Không quá hai mươi pao.</td>
            </tr>
            <tr>
            <td>Answer<strong>:</strong></td>
            <td>Every passenger is entitled to one checked bag of no more than twenty pounds for domestic flights.</td>
            <td>Mỗi hành khách được quyền mang một hành lý ký gửi nặng không quá hai mươi pao cho chuyến bay nội địa.</td>
            </tr>
            </tbody>
            </table>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <a href="index.php?directional=lession7-day38"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 37);"></i></a>
    <a href="index.php?directional=lession7-day40"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 37)"></i></a>
  </div>
</div>