<div class="col-lg-9">
  <img src="image/lession-07/title.png" alt="" width="875px" height="150px">
  <h2>Ngày 43 - Nghe ngấm</h2>
  <h4>Topic 01: Wrong Way!</h4>
  <img src="image/lession-07/topic01.png" alt="" width="800px" height="200px">
  <h4>Bước 1: Nghe làm quen</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe toàn bộ <strong>Recording 7.1</strong> từ 2-3 lần: Chỉ nghe, không dùng giáo trình. Bạn chưa phải hiểu 100% nội dung.</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.1 - Slow Speech - Topic 1 - Wrong Way.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Bước 2: Nghe ngấm tốc độ Slow Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe lại <strong>Recording 7.1</strong> từ 3-5 lần: Sử dụng giáo trình, bản dịch và từ điển nếu cần. Mục tiêu bước này, hiểu trọn vẹn nội dung.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nhắm mắt và nghe lại <strong>Recording 7.1</strong> thêm 1 lần. Sau đó tưởng tượng lại phần thoại. Bạn đã hiểu hết nội dung? Nếu chưa, hãy nghe lại. Nếu rồi, chuyển sang bước tiếp
    theo.
  </h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.1 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.1 - Slow Speech - Topic 1 - Wrong Way.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-2"></td>
          <td class="col-lg-5"><b>English</b></td>
          <td class="col-lg-5"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td></td>
          <td>Don is on the way to Bernadette’s house, but he seems to get lost and has to call Bernadette to ask for directions.</td>
          <td>Don đang trên đường đến nhà Bernadette, nhưng anh dường như bị lạc và phải gọi cho Bernadette để hỏi đường.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Hey Bernadette, it’s Don. I’m <b>on my way </b>to your party but I’m <b>a bit </b>lost. Can you help me?</td>
          <td>Chào Bernadette, Don đây. Tôi <b>đang trên đường</b> đến bữa tiệc của cậu,nhưng tôi hơi lạc <b>một chút</b>. Cậu có thể giúp tôi không?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Sure. <b>Where are you now</b>? Are you near <b>town</b>?</td>
          <td>Chắc chắn rồi. G<b>iờ cậu đang ở đâu</b>? Có gần<b> thị trấn </b>không?</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Um… I’m not sure. Let me ask. <b>Excuse me, how far am I from town</b>?</td>
          <td>Ừm… tôi không chắc lắm. Để tôi hỏi. Xin lỗi, tôi cách thị trấn bao xa?</td>
          </tr>
          <tr class="row">
          <td>Gas Station Attendant</td>
          <td>Town’s <b>about fifteen minutes west from here</b>. You’re on the I-95 now.</td>
          <td>Thị trấn cách đây <b>khoảng mười lăm phút về phía Tây</b>. Giờ anh đang ở điểm I-95.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Did you hear that Bernadette?</td>
          <td>Cậu đã nghe thấy chứ Bernadette?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Yes. You want to <b>head west</b>.<b> At the second traffic light, take a left.</b> Then my house is <b>right after the park, behind the shopping center.</b></td>
          <td>Rồi. Cậu hãy <b>đi thẳng về phía Tây</b>. <b>Đến đèn giao thông thứ hai, rẽ trái</b>. Sau đó thì nhà tôi ở <b>ngay sau công viên, phía sau Trung tâm mua sắm.</b></td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Okay, I’m <b>passing one traffic light</b>… and here’s the second one. You said <b>turn left</b>?</td>
          <td>Được rồi, tôi <b>đang đi qua một đèn giao thông</b>… và đây là cái thứ hai. Cậu bảo <b>rẽ trái </b>phải không?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Right.</td>
          <td>Phải.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Oh, okay. T<b>urning right </b>now… I’ll see you soon! Bye!</td>
          <td>Ờ, được rồi. <b>Rẽ phải</b> đây… Tôi sẽ gặp cậu sớm! Tạm biệt!</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Wait! Don! Donald! <b>You were supposed to</b> turn left! Don! Oh gosh…</td>
          <td>Đợi đã! Don! Donald! <b>Cậu đã được dặn</b> là rẽ trái cơ mà! Don! Ôi Chúa ơi…</td>
          </tr>
          </table>
      </div>
    </div>
  </div>

  <h4>Bước 3: Nghe ngấm tốc độ Native Speech</h4>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Nghe <strong>Recording 7.2</strong> từ 5-7 lần, cho tới khi bạn thấy dễ dàng trong việc nghe và hiểu toàn bộ các câu ở tốc độ này.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.2 - Topic 01
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lession 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.2 - Native Speech - Topic 1 - Wrong Way.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-2"></td>
          <td class="col-lg-5"><b>English</b></td>
          <td class="col-lg-5"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td></td>
          <td>Don is on the way to Bernadette’s house, but he seems to get lost and has to call Bernadette to ask for directions.</td>
          <td>Don đang trên đường đến nhà Bernadette, nhưng anh dường như bị lạc và phải gọi cho Bernadette để hỏi đường.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Hey Bernadette, it’s Don. I’m <b>on my way </b>to your party but I’m <b>a bit </b>lost. Can you help me?</td>
          <td>Chào Bernadette, Don đây. Tôi <b>đang trên đường</b> đến bữa tiệc của cậu,nhưng tôi hơi lạc <b>một chút</b>. Cậu có thể giúp tôi không?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Sure. <b>Where are you now</b>? Are you near <b>town</b>?</td>
          <td>Chắc chắn rồi. G<b>iờ cậu đang ở đâu</b>? Có gần<b> thị trấn </b>không?</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Um… I’m not sure. Let me ask. <b>Excuse me, how far am I from town</b>?</td>
          <td>Ừm… tôi không chắc lắm. Để tôi hỏi. Xin lỗi, tôi cách thị trấn bao xa?</td>
          </tr>
          <tr class="row">
          <td>Gas Station Attendant</td>
          <td>Town’s <b>about fifteen minutes west from here</b>. You’re on the I-95 now.</td>
          <td>Thị trấn cách đây <b>khoảng mười lăm phút về phía Tây</b>. Giờ anh đang ở điểm I-95.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Did you hear that Bernadette?</td>
          <td>Cậu đã nghe thấy chứ Bernadette?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Yes. You want to <b>head west</b>.<b> At the second traffic light, take a left.</b> Then my house is <b>right after the park, behind the shopping center.</b></td>
          <td>Rồi. Cậu hãy <b>đi thẳng về phía Tây</b>. <b>Đến đèn giao thông thứ hai, rẽ trái</b>. Sau đó thì nhà tôi ở <b>ngay sau công viên, phía sau Trung tâm mua sắm.</b></td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Okay, I’m <b>passing one traffic light</b>… and here’s the second one. You said <b>turn left</b>?</td>
          <td>Được rồi, tôi <b>đang đi qua một đèn giao thông</b>… và đây là cái thứ hai. Cậu bảo <b>rẽ trái </b>phải không?</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Right.</td>
          <td>Phải.</td>
          </tr>
          <tr class="row">
          <td>Don</td>
          <td>Oh, okay. T<b>urning right </b>now… I’ll see you soon! Bye!</td>
          <td>Ờ, được rồi. <b>Rẽ phải</b> đây… Tôi sẽ gặp cậu sớm! Tạm biệt!</td>
          </tr>
          <tr class="row">
          <td>Bernadette</td>
          <td>Wait! Don! Donald! <b>You were supposed to</b> turn left! Don! Oh gosh…</td>
          <td>Đợi đã! Don! Donald! <b>Cậu đã được dặn</b> là rẽ trái cơ mà! Don! Ôi Chúa ơi…</td>
          </tr>
          </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 2 -->
  <h4>Topic 02: Family Trip</h4>
  <img src="image/lession-07/topic02.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 7.3</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 7.4</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.3 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.3 - Slow Speech - Topic 2 - Family Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-2"></td>
          <td class="col-lg-5"><b>English</b></td>
          <td class="col-lg-5"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td></td>
          <td>Sarah is booking flight tickets for her family trip to Hawaii.</td>
          <td>Sarah đang đặt vé máy bay cho chuyến đi gia đình đến Hawaii.</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
          <td>Xin chào, <b>tôi muốn hỏi về</b> vé bay từ Philadelphia đến Hawaii.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Certainly, when are you traveling?</td>
          <td>Chắc rồi, khi nào chị đi du lịch?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>This summer.</td>
          <td>Mùa hè này.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>And <b>how many </b>tickets would you like to purchase?</td>
          <td>Vậy chị muốn mua <b>bao nhiêu</b> vé?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Five. I’m traveling with my family.</td>
          <td>Năm vé. Tôi đi du lịch với gia đình.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>And will those be <b>economy, business class, or first class</b>?</td>
          <td>Vậy vé sẽ là hạng <b>phổ thông tiết kiệm, thương gia hay hạng nhất</b>?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Hmm, could I have four economy tickets, and one first class, please?</td>
          <td>Ừm, tôi có thể mua bốn vé phổ thông, và một vé hạng nhất được không?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Certainly. And <b>would you like to purchase round trip</b> tickets now?</td>
          <td>Tất nhiên rồi. Và<b> chị muốn mua vé khứ hồi </b>bây giờ luôn chứ?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Actually… could you make that four round trip tickets and one one-way ticket?</td>
          <td>Thực ra… bạn có thể lấy cho tôi bốn vé khứ hồi và một vé một chiều được không?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>That’s not a problem.</td>
          <td>Không vấn đề gì.</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>And what are your <b>baggage requirements</b>?</td>
          <td>Vậy <b>yêu cầu</b> về <b>hành lý</b> của bạn là gì?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Every passenger is <b>entitled to </b>one <b>carry-on</b> and one <b>checked bag</b> of no more than twenty pounds for <b>domestic</b> flights.</td>
          <td>Mỗi hành khách <b>được quyền mang </b>một <b>hành lý xách tay (mang theo) </b>và một <b>hành lý ký gửi</b> nặng không quá hai mươi pao cho các chuyến bay <b>nội địa</b> .</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Is there a fine for going over that? I’m planning on bringing a lot with me…</td>
          <td>Nếu vượt mức đó có bị phạt tiền không? Tôi đang định mang theo rất nhiều đồ …</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.4 - Topic 02
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.4 - Native Speech - Topic 2 - Family Trip.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-2"></td>
          <td class="col-lg-5"><b>English</b></td>
          <td class="col-lg-5"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td></td>
          <td>Sarah is booking flight tickets for her family trip to Hawaii.</td>
          <td>Sarah đang đặt vé máy bay cho chuyến đi gia đình đến Hawaii.</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
          <td>Xin chào, <b>tôi muốn hỏi về</b> vé bay từ Philadelphia đến Hawaii.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Certainly, when are you traveling?</td>
          <td>Chắc rồi, khi nào chị đi du lịch?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>This summer.</td>
          <td>Mùa hè này.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>And <b>how many </b>tickets would you like to purchase?</td>
          <td>Vậy chị muốn mua <b>bao nhiêu</b> vé?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Five. I’m traveling with my family.</td>
          <td>Năm vé. Tôi đi du lịch với gia đình.</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>And will those be <b>economy, business class, or first class</b>?</td>
          <td>Vậy vé sẽ là hạng <b>phổ thông tiết kiệm, thương gia hay hạng nhất</b>?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Hmm, could I have four economy tickets, and one first class, please?</td>
          <td>Ừm, tôi có thể mua bốn vé phổ thông, và một vé hạng nhất được không?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Certainly. And <b>would you like to purchase round trip</b> tickets now?</td>
          <td>Tất nhiên rồi. Và<b> chị muốn mua vé khứ hồi </b>bây giờ luôn chứ?</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Actually… could you make that four round trip tickets and one one-way ticket?</td>
          <td>Thực ra… bạn có thể lấy cho tôi bốn vé khứ hồi và một vé một chiều được không?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>That’s not a problem.</td>
          <td>Không vấn đề gì.</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>And what are your <b>baggage requirements</b>?</td>
          <td>Vậy <b>yêu cầu</b> về <b>hành lý</b> của bạn là gì?</td>
          </tr>
          <tr class="row">
          <td>Clerk</td>
          <td>Every passenger is <b>entitled to </b>one <b>carry-on</b> and one <b>checked bag</b> of no more than twenty pounds for <b>domestic</b> flights.</td>
          <td>Mỗi hành khách <b>được quyền mang </b>một <b>hành lý xách tay (mang theo) </b>và một <b>hành lý ký gửi</b> nặng không quá hai mươi pao cho các chuyến bay <b>nội địa</b> .</td>
          </tr>
          <tr class="row">
          <td>Sarah</td>
          <td>Is there a fine for going over that? I’m planning on bringing a lot with me…</td>
          <td>Nếu vượt mức đó có bị phạt tiền không? Tôi đang định mang theo rất nhiều đồ …</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>

  <!-- Topic 3 -->
  <h4>Topic 03: Rest Stop (Không Bắt Buộc)</h4>
  <img src="image/lession-07/topic03.png" alt="" width="800px" height="200px">

  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Thực hiện tương tự 2 bước như Topic 01, sử dụng <strong>Recording 7.5</strong> cho <strong>bước 1 – Nghe làm quen</strong> và <strong>bước 2 – Nghe ngấm tốc độ Slow Speech</strong>.</h5>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Sử dụng <strong>Recording 7.7</strong>, thực hiện tương tự các hoạt động trong <strong>bước 3 – Nghe ngấm tốc độ Native Speech</strong> như Topic 01.</h5>
  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.5 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - GUIDE/Recording 7.5 - Slow Speech - Topic 3 - Rest Stops.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
            <tr class="row">
            <td class="col-lg-7"><b>English</b></td>
            <td class="col-lg-7"><b>Tiếng Việt</b></td>
            </tr>
            <tr class="row">
            <td>My <b>very first bus trip</b> in a <b>foreign </b>country was an <b>unforgettable experience.</b> I was in the mountains of Morocco, and I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
            <td><b>Chuyến đi xe buýt đầu tiên</b> ở <b>nước ngoài </b>của tôi là một<b> trải nghiệm khó quên</b>. Tôi đã ở những ngọn núi của Ma-Rốc, và tôi muốn đi ra biển, nhưng tôi đã không có nhiều tiền, vì vậy tôi <b>quyết định đi xe buýt </b>thay vì xe lửa.</td>
            </tr>
            <tr class="row">
            <td>The bus picked me up at my hotel, which was <b>really convenient,</b> but <b>as soon as we got on the highway</b>, the trouble started. I felt so sleepy…and meanwhile… I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
            <td>Xe buýt đón tôi tại khách sạn, nơi <b>thực sự tiện nghi</b>, nhưng <b>sau khi chúng tôi lên đường cao tốc</b>, rắc rối bắt đầu ập đến. Tôi cảm thấy buồn ngủ … và trong khi đó… Tôi rất cần sử dụng nhà vệ sinh, còn xe buýt, <b>không giống như xe lửa</b>, không có nhà vệ sinh.</td>
            </tr>
            <tr class="row">
            <td>And you know? I’m scared of seeing a bathroom in my dream. It’s a trap!<p></p>
            <p>So…</p>
            <p>I had to solve my problem!</p></td>
            <td>Và bạn biết không? Tôi rất sợ nhìn thấy nhà vệ sinh trong giấc mơ của tôi. Đó là một cái bẫy!<p></p>
            <p>Vì vậy…</p>
            <p>Tôi phải giải quyết vấn đề của mình!</p></td>
            </tr>
            <tr class="row">
            <td>The thing is… I didn’t <b>speak the language</b>, and no one could speak English. Thankfully, the woman sitting next to me was very kind. She understood my problem by reading my <b>body language</b> and spoke to the bus driver for me.</td>
            <td>Vấn đề là… tôi không biết <b>nói ngôn ngữ đó</b>, và không ai có thể nói tiếng Anh cả. Rất may, người phụ nữ ngồi cạnh tôi rất tốt bụng. Cô ấy hiểu vấn đề của tôi qua vài <b>ngôn ngữ cơ thể </b>và nói với tài xế xe buýt giúp tôi.</td>
            </tr>
            <tr class="row">
            <td>To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>. The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
            <td>Nói thật, tôi chưa bao giờ nói chuyện với ai trên xe buýt trước đây, nhưng người phụ nữ này thực sự <b>đã giúp đỡ tôi</b>. Người tài xế xe buýt tăng tốc đến điểm dừng tiếp theo và cho tôi xuống một vài phút. <b>Khủng hoảng được ngăn chặn</b>!</td>
            </tr>
          </table>
      </div>
    </div>
  </div>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.7 - Topic 03
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls>
                  <source src="file/LESSON 07 - Guide/Recording 7.7 - Native Speech - Topic 3 - Easy as Pie.mp3" type="audio/mpeg">
                </audio>
              </div>
            </div>
          </div>
        </div>
        <table class="col-md-12 table table-striped">
          <tr class="row">
          <td class="col-lg-7"><b>English</b></td>
          <td class="col-lg-7"><b>Tiếng Việt</b></td>
          </tr>
          <tr class="row">
          <td>My <b>very first bus trip</b> in a <b>foreign </b>country was an <b>unforgettable experience.</b> I was in the mountains of Morocco, and I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
          <td><b>Chuyến đi xe buýt đầu tiên</b> ở <b>nước ngoài </b>của tôi là một<b> trải nghiệm khó quên</b>. Tôi đã ở những ngọn núi của Ma-Rốc, và tôi muốn đi ra biển, nhưng tôi đã không có nhiều tiền, vì vậy tôi <b>quyết định đi xe buýt </b>thay vì xe lửa.</td>
          </tr>
          <tr class="row">
          <td>The bus picked me up at my hotel, which was <b>really convenient,</b> but <b>as soon as we got on the highway</b>, the trouble started. I felt so sleepy…and meanwhile… I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
          <td>Xe buýt đón tôi tại khách sạn, nơi <b>thực sự tiện nghi</b>, nhưng <b>sau khi chúng tôi lên đường cao tốc</b>, rắc rối bắt đầu ập đến. Tôi cảm thấy buồn ngủ … và trong khi đó… Tôi rất cần sử dụng nhà vệ sinh, còn xe buýt, <b>không giống như xe lửa</b>, không có nhà vệ sinh.</td>
          </tr>
          <tr class="row">
          <td>And you know? I’m scared of seeing a bathroom in my dream. It’s a trap!<p></p>
          <p>So…</p>
          <p>I had to solve my problem!</p></td>
          <td>Và bạn biết không? Tôi rất sợ nhìn thấy nhà vệ sinh trong giấc mơ của tôi. Đó là một cái bẫy!<p></p>
          <p>Vì vậy…</p>
          <p>Tôi phải giải quyết vấn đề của mình!</p></td>
          </tr>
          <tr class="row">
          <td>The thing is… I didn’t <b>speak the language</b>, and no one could speak English. Thankfully, the woman sitting next to me was very kind. She understood my problem by reading my <b>body language</b> and spoke to the bus driver for me.</td>
          <td>Vấn đề là… tôi không biết <b>nói ngôn ngữ đó</b>, và không ai có thể nói tiếng Anh cả. Rất may, người phụ nữ ngồi cạnh tôi rất tốt bụng. Cô ấy hiểu vấn đề của tôi qua vài <b>ngôn ngữ cơ thể </b>và nói với tài xế xe buýt giúp tôi.</td>
          </tr>
          <tr class="row">
          <td>To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>. The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
          <td>Nói thật, tôi chưa bao giờ nói chuyện với ai trên xe buýt trước đây, nhưng người phụ nữ này thực sự <b>đã giúp đỡ tôi</b>. Người tài xế xe buýt tăng tốc đến điểm dừng tiếp theo và cho tôi xuống một vài phút. <b>Khủng hoảng được ngăn chặn</b>!</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!-- Luyện từ và mẫu câu chủ đạo -->
  <h3>Further practice: Luyện từ và mẫu câu chủ đạo</h3>
  <h5><i class="fa fa-check-square-o" style="font-size:30px;color:blue"></i>Hãy ôn lại cụm từ và cách diễn đạt nổi bật tại 3 topics bằng cách nghe và nói theo Recording 7.7 từ 1-3 lần..</h5>

  <div class="panel panel-primary autocollapse">
    <div class="panel-heading clickable">
      <h3 class="panel-title">Recording 7.7
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                Lesson 07 - Guide || Ngày 43 - Nghe ngấm
              </h3>
            </div>
            <div class="panel-body">
              <div class="alert alert-danger">
                <audio controls="controls">
                  <source src="file/LESSON 07 - Guide/Recording 7.7 - Immersion.mp3">
                </audio>
              </div>
            </div>
          </div>
        </div>

        <table class="col-md-12 table table-striped">
          <!-- Topic 1 -->
          <tr class="row">
            <td colspan="4">
              <h3>Topic 01: Wrong Way!</h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Town (n)</td>
          <td>/taʊn/</td>
          <td>Thị trấn</td>
          <td>Are you near<b> town</b>?</td>
          </tr>
          <tr class="row">
          <td>Behind (adv, preposition)</td>
          <td>/bɪˈhaɪnd/</td>
          <td>Sau, phía sau</td>
          <td>Then my house is right after the park, <b>behind</b> the shopping center.</td>
          </tr>
          <tr class="row">
          <td>West (adv)</td>
          <td>/west/</td>
          <td>Phía Tây</td>
          <td>Town’s about fifteen minutes <b>west</b> from here.</td>
          </tr>
          <tr class="row">
          <td>A bit (quantifier)</td>
          <td>/ə ˈbɪt/</td>
          <td>Một chút</td>
          <td>I’m on my way to your party but I’m <b>a bit</b> lost.</td>
          </tr>
          <tr class="row">
              <td class="col-lg-3"><strong>Expression</strong></td>
              <td class="col-lg-3"><strong>Meaning</strong></td>
              <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>On my way</td>
          <td>Đang trên đường</td>
          <td colspan="2">I’m <b>on my way</b> to your party but I’m a bit lost. Can you help me?</td>
          </tr>
          <tr class="row">
          <td>Where are you now?</td>
          <td>Giờ cậu đang ở đâu?</td>
          <td colspan="2">Sure. <b>Where are you now?</b> Are you near town?</td>
          </tr>
          <tr class="row">
          <td>Excuse me, how far am I from town?</td>
          <td>Xin lỗi, tôi cách thị trấn bao xa?</td>
          <td colspan="2">Um…I’m not sure. Let me ask. <b>Excuse me, how far am I from town?</b></td>
          </tr>
          <tr class="row">
          <td>About fifteen minutes west from here</td>
          <td>Khoảng mười lăm phút về phía Tây</td>
          <td colspan="2">Excuse me, how far am I from town? Town’s <b>about fifteen minutes west from here.</b> You’re on I-95 now.</td>
          </tr>
          <tr class="row">
          <td>At the second traffic light, take a left</td>
          <td>Đến đèn giao thông thứ hai, rẽ trái</td>
          <td colspan="2">Yes. You want to head west. <b>At the second traffic light, take a left.</b> Then my house is right after the park, behind the shopping center.</td>
          </tr>
          <tr class="row">
          <td>Right after the park, behind the shopping center</td>
          <td>Ngay sau công viên, phía sau Trung tâm mua sắm.</td>
          <td colspan="2">Yes. You want to head west. At the second traffic light, take a left. Then my house is <b>right after the park, behind the shopping center.</b></td>
          </tr>
          <tr class="row">
          <td>Passing one traffic light</td>
          <td>Đang đi qua một đèn giao thông</td>
          <td colspan="2">Okay, I’m <b>passing one traffic light</b>…and here’s the second one. You said turn left?</td>
          </tr>
          <tr class="row">
          <td>Turn left</td>
          <td>Rẽ trái</td>
          <td colspan="2">Okay, I’m passing one traffic light…and here’s the second one. You said <b>turn left</b>?</td>
          </tr>
          <tr class="row">
          <td>Turning right</td>
          <td>Rẽ phải </td>
          <td colspan="2">Oh, okay. <b>Turning right</b> now…I’ll see you soon! Bye!</td>
          </tr>
          <tr class="row">
          <td>You were supposed to</td>
          <td>Cậu đã được dặn dò/ yêu cầu</td>
          <td colspan="2">Wait! Don! Donald! <b>You were supposed to </b>turn left! Don! Oh gosh…</td>
          </tr>
          <tr class="row">
          <td>Head west</td>
          <td>Đi thẳng về phía Tây</td>
          <td colspan="2">Yes. You want to <b>head west.</b> At the second traffic light, take a left.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 02: Family Trip</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Carry-on (n)</td>
          <td>/ˈkæri ɑːn/</td>
          <td>Hành lý mang theo</td>
          <td>Every passenger is entitled to one <b>carry-on</b> and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Domestic (adj)</td>
          <td>/dəˈmestɪk/</td>
          <td>Nội địa</td>
          <td>Every passenger is entitled to one carry-on and one checked bag of no more than twenty pounds for <b>domestic</b> flights.</td>
          </tr>
          <tr class="row">
          <td>Baggage (n)</td>
          <td>/ˈbæɡɪdʒ/</td>
          <td>Hành lý</td>
          <td>And what are your <b>baggage</b> requirements?</td>
          </tr>
          <tr class="row">
          <td>Requirements (n)</td>
          <td>/rɪˈkwaɪərmənts/</td>
          <td>Thủ tục, luật lệ, yêu cầu</td>
          <td>And what are your baggage <b>requirements</b>?</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>I’d like to ask about</td>
          <td>Tôi muốn hỏi về&nbsp;(Phong cách lịch sự)</td>
          <td colspan="2">Hi, <b>I’d like to ask about </b>tickets from Philadelphia to Hawaii.</td>
          </tr>
          <tr class="row">
          <td>How many</td>
          <td>Bao nhiêu</td>
          <td colspan="2">And <b>how many</b> tickets would you like to purchase?</td>
          </tr>
          <tr class="row">
          <td>Economy, business class, or first class</td>
          <td>Phổ thông tiết kiệm, thương gia hay hạng nhất?</td>
          <td colspan="2">And will those be <b>economy, business class, or first class</b>?</td>
          </tr>
          <tr class="row">
          <td>Would you like to purchase</td>
          <td>Bạn có muốn mua</td>
          <td colspan="2">Certainly. And <b>would you like to purchase</b> round trip tickets now?</td>
          </tr>
          <tr class="row">
          <td>Round trip</td>
          <td>Khứ hồi</td>
          <td colspan="2">And would you like to purchase <b>round trip </b>tickets now?</td>
          </tr>
          <tr class="row">
          <td>Entitled to</td>
          <td>Được quyền mang</td>
          <td colspan="2">Every passenger is <b>entitled to</b> one carry-on and one checked bag of no more than twenty pounds for domestic flights.</td>
          </tr>
          <tr class="row">
          <td>Checked bag</td>
          <td>Hành lý ký gửi </td>
          <td colspan="2">Every passenger is entitled to one carry-on and one <b>checked bag</b> of no more than twenty pounds for domestic flights.</td>
          </tr>
          <!-- topic 02 -->
          <tr class="row">
            <td colspan="4">
              <h3><b>Topic 03: Rest Stop</b></h3>
            </td>
          </tr>
          <tr class="row">
            <td class="col-lg-2"><strong>Vocabulary</strong></td>
            <td class="col-lg-2"><strong>Pronunciation</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-5"><strong>Example</strong></td>
          </tr>
          <tr class="row">
          <td>Trip (n)</td>
          <td>/trɪp/</td>
          <td>Chuyến đi</td>
          <td>My very first bus <b>trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Foreign (adj)</td>
          <td>/ˈfɔːrən/</td>
          <td>(thuộc) nước ngoài</td>
          <td>My very first bus trip in a <b>foreign</b> country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Language (n)</td>
          <td>/ˈlæŋɡwɪdʒ/</td>
          <td>Tiếng, ngôn ngữ</td>
          <td>The thing is… I didn’t speak the <b>language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
            <td class="col-lg-3"><strong>Expression</strong></td>
            <td class="col-lg-3"><strong>Meaning</strong></td>
            <td class="col-lg-7" colspan="2"><strong>Example</strong></td>
        </tr>
          <tr class="row">
          <td>Very first bus trip</td>
          <td>Chuyến đi xe buýt đầu tiên</td>
          <td colspan="2">My <b>very first bus trip</b> in a foreign country was an unforgettable experience.</td>
          </tr>
          <tr class="row">
          <td>Unforgettable experience</td>
          <td>Trải nghiệm khó quên.</td>
          <td colspan="2">My very first bus trip in a foreign country was an <b>unforgettable experience</b>.</td>
          </tr>
          <tr class="row">
          <td>Decided to take the bus</td>
          <td>Quyết định đi xe buýt </td>
          <td colspan="2">And I wanted to get to the beach but I didn’t have a lot of money, so I <b>decided to take the bus</b> instead of the train.</td>
          </tr>
          <tr class="row">
          <td>Really convenient</td>
          <td>Thực sự tiện nghi</td>
          <td colspan="2">The bus picked me up at my hotel, which was <b>really convenient</b>, but after we got on the highway, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>As soon as we got on the highway</td>
          <td>Sau khi chúng tôi lên đường cao tốc</td>
          <td colspan="2">The bus picked me up at my hotel, which was really convenient, but <b>as soon as we got on the highway</b>, the trouble started.</td>
          </tr>
          <tr class="row">
          <td>Unlike trains</td>
          <td>Không giống như xe lửa</td>
          <td colspan="2">I really needed to use the bathroom, and buses, <b>unlike trains</b>, don’t have bathrooms.</td>
          </tr>
          <tr class="row">
          <td>Speak the language</td>
          <td>Nói ngôn ngữ đó</td>
          <td colspan="2">The thing is… I didn’t <b>speak the language</b>, and no one could speak English.</td>
          </tr>
          <tr class="row">
          <td>Body language</td>
          <td>Ngôn ngữ cơ thể</td>
          <td colspan="2">She understood my problem by reading my <b>body language </b>and spoke to the bus driver for me.</td>
          </tr>
          <tr class="row">
          <td>Helped me out</td>
          <td>Đã giúp đỡ tôi</td>
          <td colspan="2">To be honest, I had never spoken to anyone on a bus before, but this woman really <b>helped me out</b>.</td>
          </tr>
          <tr class="row">
          <td>Crisis averted</td>
          <td>Khủng hoảng được ngăn chặn!</td>
          <td colspan="2">The bus driver sped to the next stop and let me off for a few minutes. <b>Crisis averted!</b></td>
          </tr>
          </table>
      </div>
    </div>
  </div>
  <div>
    <a href="index.php?directional=lession5-day35"><i class="fa fa-mail-reply pull-left" style="font-size:30px;color:rgb(30, 31, 43);"></i></a>
    <a href="index.php?directional=lession7-day43"><i class="fa fa-mail-forward pull-right" style="font-size:30px;color:rgb(30, 31, 43)"></i></a>
  </div>
</div>